[2021-01-02 12:57] IGCIT opened #1 "Git Reports Issue"
Submitter: Test
Test

[2021-01-02 13:05] #1 closed

[2021-01-02 23:28] IGCIT opened #2 "Battlefield 5 glitches"
#### Game _[Required]_
---
Battlefield 5

#### CPU _[Required]_
---
i5-1035G7

#### GPU Driver Version _[Required]_
---
9079

#### Rendering API _[Required]_
---

**API** _[DirectX, OpenGL, Vulkan]_: DirectX

**API Version** _(example DirectX 12)_: DX12

#### Windows Build Number _[Required]_
---
19042 (20H2)

#### Description _[Required]_
---
Lots of glitches, only tried online mp matches

#### S

[2021-01-03 01:07] IGCIT opened #3 "Git Reports Issue"
Submitter: Jeff
Game: Any software.
CPU: i5-1035G7
GPU Driver Version: 27.20.100.8190
Rendering API: NA (happens inside and outside of games)
API [DirectX, OpenGL, Vulkan]:(happens inside and outside of games)

API Version (example DirectX 12): (happens inside and outside of games)

Windows Build Number: 19041
Description: Frequent 0x116: VIDEO_TDR_FAILURE BSODs, roughly 2-3 times daily
Screenshot

[2021-01-03 01:12] IGCIT opened #4 "Dishonored 2 - Performance Regression after 27.20.100.8190"
Submitter: Jeff
Game: Dishonored 2
CPU: i5-1035G7
GPU Driver Version 27.20.100.8280 through 27.20.100.9079
Rendering API: DirectX 11

Description [Required]: Frequent stuttering and hangs. Game doesn't CTD, but is unplayable.

Screenshots [Optional]
Steps To Reproduce [Optional]: Normal play on low graphical settings preset.
Notes [Optional]: 27.20.100.8190 is the only driver tested that does not

[2021-01-03 08:29] Valkirie commented on #3
Closing this issue. VIDEO_TDR_FAILURE is most certainly due to agressive undervolting.

[2021-01-03 08:29] #3 closed

[2021-01-06 10:50] Valkirie opened #5 "Destiny 2 "Problem Reading Game content""
#### Game _[Required]_
Destiny 2

---
#### CPU _[Required]_
Intel(R) Core(TM) i5-1035G7

---
#### GPU Driver Version _[Required]_
Intel(R) Iris(R) Plus Graphics

---
#### Rendering API _[Required]_
**API** _[DirectX, OpenGL, Vulkan]_: DirectX
**API Version** _(example DirectX 12)_: 11

---
#### Windows Build Number _[Required]_
Windows 10 20H2

---
#### Description _[Required]_
Destiny 2 crash to

[2021-01-06 10:52] Valkirie commented on #5
A fix is in production but no data has been shared by Intel.

[2021-01-06 10:53] Valkirie opened #6 "Cyberpunk 2077 has flatlined"
#### Game _[Required]_
Cyberpunk 2077

---
#### CPU _[Required]_
Intel(R) Core(TM) i5-1035G7

---
#### GPU Driver Version _[Required]_
Intel(R) Iris(R) Plus Graphics

---
#### Rendering API _[Required]_
**API** _[DirectX, OpenGL, Vulkan]_: DirectX
**API Version** _(example DirectX 12)_: 12

---
#### Windows Build Number _[Required]_
Windows 10 20H2

---
#### Description _[Required]_
Cyberpunk 2077

[2021-01-06 10:56] Valkirie commented on #6
Intel is working on a fix. A few bug fixes were tested internally and we should expect progress for the next driver release by end of month.

[2021-01-06 20:00] Valkirie opened #7 "Test"
Test

[2021-01-06 20:00] #7 closed

[2021-01-07 10:23] Valkirie opened #8 "[Vulkan] Issues with vkCreateGraphicsPipelines on multiple threads"
#### Emulator _[Required]_
CEMU 1.22.3b

---
#### CPU/GPU _[Required]_
Intel(R) Core(TM) i5-1035G7
Intel(R) Iris(R) Plus Graphics

---
#### GPU Driver Version _[Required]_
27.20.100.9126

---
#### Rendering API _[Required]_
**API** _[DirectX, OpenGL, Vulkan]_: Vulkan
**API Version** _(example DirectX 12)_: 1.2

---
#### Description _[Required]_
For unknown reasons calling vkCreateGraphicsPipelines

[2021-01-07 10:26] Valkirie commented on #8
Intel has acknowledged the issue that appears to be caused by pipeline cache. The issue will be investigated further.

[2021-01-07 11:42] IGCIT opened #9 "Burnout Paradise Remastered black screen"
#### Game _[Required]_
Burnout Paradise Remastered (Origin store)

---
#### CPU _[Required]_
i5-1035g7

---
#### GPU Driver Version _[Required]_
9126

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_: DirectX

**API Version** _(example DirectX 12)_: 11

---
#### Windows Build Number _[Required]_
19042 (20H2)

---
#### Description _[Required]_
After a few minutes of gameplay

[2021-01-07 12:38] IGCIT commented on #2
Update - driver 9126

Glitched leg:
It only happens for some characters and in some maps when FOV is higher than 90.

An affected character is _Helmut (Germany)_ when customized:

Torso: The Wolf
Legs: The Illusionist

On maps where this character with the above customizations is loaded, and FOV is higher than 90, legs are glitched as shown in the screenshot

About the other glitches:

Major glitc

[2021-01-07 13:58] Valkirie commented on #8
Intel was able to reproduce the issue and an internal report is being raised.

[2021-01-07 19:45] Valkirie opened #10 "[GL] TextureView format ignored on blits / glReadPixels"
#### Emulator _[Required]_
Yuzu

---
#### CPU/GPU _[Required]_
Intel(R) Core(TM) i5-1035G7
Intel(R) Iris(R) Plus Graphics

---
#### GPU Driver Version _[Required]_
27.20.100.9126

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_: OpenGL
**API Version** _(example DirectX 12)_: 5.1

---
#### Description _[Required]_
Calling BlitFramebuffer (and DSA friends) ignores the attach

[2021-01-07 19:47] Valkirie commented on #10
Intel replicated the bug and reported it.

[2021-01-09 08:38] k-tronix opened #11 "Yakuza 0 crashing on cutscenes"
#### Game _[Required]_
Yakuza 0

---
#### CPU _[Required]_
Intel I5-1035G7

---
#### GPU Driver Version _[Required]_
27.20.100.9126

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_: DirectX
**API Version** _(example DirectX 12)_: DirectX 11

---
#### Windows Build Number _[Required]_
Windows 10 v2004
OS Build 10941.685

---
#### Description _[Required]_
Game crashes on cut

[2021-01-09 10:05] Valkirie commented on #9
Issue can be reproduced on Intel side.

[2021-01-09 15:56] #4 closed

[2021-01-13 18:11] leoben2 commented on #11
Will report back tomorrow if we can repro.

[2021-01-13 19:19] kristheb commented on #11
its a problem of the game engine, it happens also in yakuza 1

[2021-01-14 16:10] leoben2 commented on #11
We haven't been able to reproduce this issue yet. Do you have an error message that pops up? Or is it just a crash to desktop?

[2021-01-14 20:49] Valkirie opened #12 "Doom Eternal crash after 10-20 minutes"
#### Game _[Required]_
Doom Eternal

---
#### CPU _[Required]_
Intel(R) Core(TM) i5-1035G7

---
#### GPU Driver Version _[Required]_
Intel(R) Iris(R) Plus Graphics

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_: Vulkan
**API Version** _(example DirectX 12)_: 1.2.162

---
#### Windows Build Number _[Required]_
Windows 10 20H2

---
#### Description _[Required]_
Doom Eterna

[2021-01-14 20:54] Valkirie opened #13 "Functionality Request - Undervolt Tiger Lake"
#### Description _[Required]_
**Unclewebb**, creator of Throttlestop, a commonly used solution to change TDP, Turbo Boost Ratio and Voltage [lately reported](https://www.techpowerup.com/forums/threads/throttlestop-on-tigerlake-u-i7-1165g7.275464/post-4405760) Intel has either blocked access to the FIVR controls or the FIVR used since the 4th Gen Haswell no longer exists in this design.

On portabl

[2021-01-14 22:17] kristheb commented on #11
see video i made of a typical crash when the game switches to the cutscenes

https://share.icloud.com/photos/0a9brijUi7zzKm9zzuqBv2H2A#Wien_-_22._Bezirk_Donaustadt

[2021-01-18 16:24] roneyizpie opened #14 "Final Fantasy XV Crash"
In Final Fantasy XV, I get a crash that is reproducible by going in to the desert area and beginning to use a weapon. Walking seems fine, but once a fight begins and you start fighting the game will stutter, freeze, and crash.

Event Viewer also shows the following information if this is of any use:

[Event_Viewer_-_FFVX_Crash.txt](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/f

[2021-01-18 16:57] reiterizpie opened #15 "Final Fantasy XV - Crash"
#### Game _[Required]_
Final Fantasy XV - Steam

---
#### CPU _[Required]_
Intel i5-1035g7

---
#### GPU Driver Version _[Required]_
27.20.100.9126
&
27.20.100.9168

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:
**API Version** _(example DirectX 12)_:
Direct X11

---
#### Windows Build Number _[Required]_
OS Build #:19042.746
****
---
#### Description _[Required]_
When

[2021-01-20 14:58] Valkirie commented on #12
Some users reported a drivers rollback to 8935 seems to have fixed the crash issue, with the ability to play for at least an hour.

[2021-01-21 08:05] Valkirie commented on #6
![image](https://user-images.githubusercontent.com/934757/105321409-b51b0b00-5bc7-11eb-96eb-a2d3090fca64.png)
Game is reported working on fullscreen mode but is having crash issues while running Windowed. Still a huge achievement from Intel's team !

[2021-01-21 18:37] leoben2 commented on #11
Still no luck on reproing this, but will follow up with some new hw tests next week.

[2021-01-21 18:38] leoben2 commented on #12
We're looking into this now

[2021-01-21 18:38] leoben2 commented on #15
Looking into this now.

[2021-01-21 22:31] reiterizpie commented on #15
A

Awesome. This is also happening on the latest drivers. I added that to the post.

[2021-01-22 08:06] THFourteen commented on #5
Tried the latest driver (9168 ) on same CPU and build, same crash.

[2021-01-22 21:16] THFourteen commented on #11
I can reproduce the same issue using driver 9168.

[2021-01-25 17:50] leoben2 commented on #6
With the latest intel.com driver, the front up crashing is fixed, however there's one occuring during gameplay. Working on that one now.

[2021-01-27 20:48] leoben2 commented on #15
we're getting this specific i5 part in house this week, hopefully will have more results by then.

[2021-01-27 20:48] leoben2 commented on #11
we're getting this i5 part in house by EOW, hopefully will have better luck by then. Will report back.

[2021-01-27 20:49] leoben2 commented on #12
we're getting this specific part in house this week, will report back soon.

[2021-01-29 18:26] KingYozora commented on #11
You can fix the crashing by disabling RC6 (Render Standby) on the BIOS.

[2021-01-31 03:22] k-tronix commented on #11
I can confirm that the crash on cutscenes for Yakuza 0 seems to be resolved by disabling RC6 (Render Standby) in the BIOS. As such, Intel team, may we trouble you to enable RC6 Render standby in BIOS to see if you are able to replicate this issue?

[2021-01-31 06:14] Valkirie commented on #11
Nice catch! Let see if @leoben2 and team can reproduce.

[2021-02-01 09:53] thealgorithmc64 opened #16 "Detroit Become Human (Silent crash)"
#### Game

Detroit Become Human
---
#### CPU

i7 1165g7
---
#### GPU Driver Version

9168 and earlier
---
#### Rendering API

Vulkan

---
#### Windows Build Number
Windows 20H2

---
#### Description
Game gives a dialog box warning that it may not run due to unsupported driver, then exits back to desktop.
---
#### Steps To Reproduce _[Required]_

Run the game as normal.
---

[2021-02-01 09:57] thealgorithmc64 opened #17 "Horizon Zero Dawn (Early Crash, Slowdown)"
#### Game

Horizon Zero Dawn (Latest patch)
---
#### CPU

i7 1165g7

---
#### GPU Driver Version

9168 (And also earlier) But there was a very early version which seemed more reliable but with severe slowdown.

---
#### Rendering API

Vulkan

---
#### Windows Build Number _[Required]_

Windows 20H2
---
#### Description _[Required]_

Extremely slow loading at all times.   Usually crashes when attem

[2021-02-01 10:02] thealgorithmc64 opened #18 "Beyond : Two souls (Slowdown)"
#### Game

Beyond : Two souls

---
#### CPU

i7 1165g7 (Intel XE and 16gb ram)

---
#### GPU Driver Version

9168 (Occurs also before)

---
#### Rendering API _[Required]_

DirectX (Not sure which version)

---
#### Windows Build Number

Windows 20h2

---
#### Description

Runs extremely slow regardless of settings, resolution or windowed/bordered/fullscreen mode.
Should not be the case as the gam

[2021-02-01 10:04] thealgorithmc64 opened #19 "Redout (Exit to desktop)"
#### Game

Redout

---
#### CPU

i7 1165g7 (Intel XE + 16gb ram)

---
#### GPU Driver Version

9168 (Happens in earlier drivers too)

---
#### Rendering API

Direct X (Not sure which version)

---
#### Windows Build Number

Windows 20h2

---
#### Description

Shows the titlepage, then exits to desktop.

---
#### Steps To Reproduce

Just run the game

[2021-02-01 10:49] Valkirie commented on #17
Thanks for sharing !

[2021-02-03 17:25] leoben2 commented on #11
So we tried this with and without RS, no luck in reproducing :( I'm now thinking this is very platform specific. We'll see if we can buy one of these laptops and reproduce that way.

[2021-02-03 17:27] leoben2 commented on #6
This second part seems like we need to work with CDPR on. Will keep you posted.

[2021-02-03 17:30] leoben2 commented on #18
Going to look at this now.

[2021-02-03 17:30] leoben2 commented on #19
Going to look at this now.

[2021-02-03 17:46] kristheb commented on #11
its not only a gpd device issue, there are a some reports with intel GPUs on the Net. see some examples below:

Intel 620 graphics
https://www.reddit.com/r/yakuzagames/comments/l6lm5l/possible_fix_to_yakuza_0_cutscene_crashes/

Intel UHD 617 graphics
https://www.reddit.com/r/yakuzagames/comments/hy6uqt/yakuza_0_opening_cutscene_crash/

Intel HD Graphics 520
https://steamcommunity.com/app/638970/di

[2021-02-03 18:11] leoben2 commented on #17
We know of this one, not sure we'll be able to prioritize soon since the game's min GPU requirement is around 4TFLOPS.

[2021-02-04 15:28] reiterizpie commented on #15
Hey Leoben2, no rush but just checking to see if you guys had a chance to look into this issue yet.

[2021-02-04 16:38] leoben2 commented on #19
We reproduced this today, so will be filing a bug against it. Thanks for the flag.

[2021-02-05 01:43] dissociativity commented on #6
That's Tiger Lake, the issue is stated for Ice Lake, which I believe still crashes, I'll need to transfer the game to my Ice Lake device to double check, but I'm fairly sure Ice Lake still has more issues in general than Tiger lake with DX12/Vulkan games.
Please don't leave Ice Lake behind.

[2021-02-05 17:00] leoben2 commented on #18
Reproduced, bug filed, will keep you posted!

[2021-02-06 15:41] THFourteen commented on #5
Any news on this one @Valkirie?

[2021-02-09 10:15] Valkirie commented on #5
As of end of January, still no ETA.

[2021-02-10 13:41] mva94 opened #20 "Sekiro shadows die twice"
#### Game _[Required]_ sekiro

---
#### CPU _[Required]_  i7 1160g7

---
#### GPU Driver Version _[Required]_  27.20.100.9168

---
#### Rendering API _[Required]_ directx11

**API** _[DirectX, OpenGL, Vulkan]_:
**API Version** _(example DirectX 12)_:

---
#### Windows Build Number _[Required]_ latest

---
#### Description _[Required]_ after 5 minutes of moving around the game just crashes and goes

[2021-02-17 20:50] Morph1984 opened #21 "Genshin Impact crash on boot"
#### Game _[Required]_

Genshin Impact

---
#### CPU _[Required]_

i3-7100 / i7-8559U (HD 630, Iris Plus 655)

---
#### GPU Driver Version _[Required]_

27.20.100.9168 (Drivers as old as 25.20.100.6618 is affected as well. Tested multiple drivers from WDDM 25, 26 and 27 and they all crash on boot.)

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_: DirectX
**API Version** _

[2021-02-18 07:34] Morph1984 commented on #21
An update to this issue: The WDDM 24 driver 24.20.100.6286 does not cause the game to crash, this driver I find is one of the most stable Intel driver releases thus far.

[2021-02-18 09:44] Morph1984 commented on #21
Linking this community spreadsheet listing several issues and fixes for Intel GPUs https://docs.google.com/document/d/1xrOX5_WE2Q60hTF14AMFkVsyZlCsfMLGh8eaccaRDXM/edit

[2021-02-18 14:46] Valkirie commented on #8
Fixed in **27.20.100.9313**.

[2021-02-18 14:46] #8 closed

[2021-02-21 20:18] mva94 opened #22 "Call of duty cold war crashing during start up"
#### Game _[Required]_
call of duty: Cold war

---
#### CPU _[Required]_
 i7 1160g7/ i71165g7

---
#### GPU Driver Version _[Required]_ 27.20.100.9313 or earlier versions

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_: directx
**API Version** _(example DirectX 12)_: dx12

---
#### Windows Build Number _[Required]_
latest

---
#### Description _[Required]_

---
#### Steps

[2021-02-21 20:25] mva94 opened #23 "Call of duty: warzone"
#### Game _[Required]_
Call of duty: Warzone

---
#### CPU _[Required]_
I7 1165g7 i71160g7

---
#### GPU Driver Version _[Required]_

27.20.100.9313
---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_: DirectX
**API Version** _(example DirectX 12)_: 12

---
#### Windows Build Number _[Required]_
Latest

---
#### Description _[Required]_
Game runs very badly on tigerlake, shade

[2021-02-21 20:26] mva94 commented on #12
@Valkirie seems not to crash anymore on the latest drivers on tigerlake.
Needs confirmation on Icelake though

[2021-02-22 09:26] Gx1-Al opened #24 "Street Racing Syndicate"
#### Game _[Required]_

Street Racing Syndicate

---
#### CPU _[Required]_

I7 1165g7 i71160g7

---
#### GPU Driver Version _[Required]_

27.20.100.9168

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_: directx
**API Version** _(example DirectX 12)_:  DirectX 9.0b

---
#### Windows Build Number _[Required]_

19042.804

---
#### Description _[Required]_

game freezes and cr

[2021-02-22 09:46] hididi31 opened #25 "Monkey king back"
#### Game _[Required]_
Monkey king back

---
#### CPU _[Required]_
I7 1160g7

---
#### GPU Driver Version _[Required]_
Last Intel driver

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:Direct x
**API Version** _(example DirectX 12)_:

---
#### Windows Build Number _[Required]_
Last build

---
#### Description _[Required]_
Crash suddenly
---
#### Steps To Reproduce _[Requi

[2021-02-22 09:48] IGCIT commented on #12
@mva94 i can test this on icelake

[2021-02-22 09:49] hididi31 opened #26 "Ridge racer unbounded crash"
#### Game _[Required]_
Ridge racer unbounded

---
#### CPU _[Required]_
I7 1160 g7

---
#### GPU Driver Version _[Required]_
Last

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:Directx
**API Version** _(example DirectX 12)_:DirectX 9

---
#### Windows Build Number _[Required]_
Last build

---
#### Description _[Required]_
Games crash when starting driving
---
#### Steps

[2021-02-22 09:54] hididi31 opened #27 "Gravel crash"
#### Game _[Required]_
Gravel

---
#### CPU _[Required]_

I7 1160 g7
---
#### GPU Driver Version _[Required]_
Last build

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:Direct x
**API Version** _(example DirectX 12)_:

---
#### Windows Build Number _[Required]_
Last build

---
#### Description _[Required]_
Games crash at launch
---
#### Steps To Reproduce _[Required]_

Ju

[2021-02-22 09:57] mva94 commented on #12
@IGCIT nice let me know

[2021-02-22 09:58] hididi31 opened #28 "Call of Duty Warzone crash Freeze"
#### Game _[Required]_
Call of Duty warzone

---
#### CPU _[Required]_

I7 1160g7
---
#### GPU Driver Version _[Required]_

Last build
---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:DirectX
**API Version** _(example DirectX 12)_:

---
#### Windows Build Number _[Required]_
Last build

---
#### Description _[Required]_
Very bad allocations of memory. (16gb). Long loadings,

[2021-02-22 10:02] hididi31 opened #29 "Open GL very bad driver or performance"
#### Game _[Required]_
All games need open gl and emulatord

---
#### CPU _[Required]_
I7 1160g7

---
#### GPU Driver Version _[Required]_
Last build

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:OpenGL
**API Version** _(example DirectX 12)_:

---
#### Windows Build Number _[Required]_

Last build
---
#### Description _[Required]_
Very bad performance
---
#### Steps To

[2021-02-22 10:02] Valkirie commented on #28
Thanks for sharing but closing this one as it has been reported already on issue #23

[2021-02-22 10:02] #28 closed

[2021-02-22 10:04] Valkirie commented on #29
Thanks for sharing but closing this one report as we need software-specific issues to have a chance to get them fixed.
When related to emulation we only accept reports coming from developers as we need a lot of details.

[2021-02-22 10:04] #29 closed

[2021-02-22 10:05] Valkirie commented on #12
Please keep us posted :)

[2021-02-22 20:01] leoben2 commented on #22
This one we're aware of and working with Beenox to see what can be done.

[2021-02-22 20:02] leoben2 commented on #23
Repro in progress, stay tuned.

[2021-02-22 20:02] leoben2 commented on #6
Can  you try the latest beta on Intel.com?

[2021-02-23 17:04] IGCIT commented on #9
update

driver 9313 - now black screen and crash

[2021-02-24 11:38] kyh96403 opened #30 "Detroit - Become Human not working"
#### Game _[Required]_
Detroit - Become Human

---
#### CPU _[Required]_
1035G7
1160G7

---
#### GPU Driver Version _[Required]_
All

---
#### Rendering API _[Required]_
Vulkan

**API** _[DirectX, OpenGL, Vulkan]_:
**API Version** _(example DirectX 12)_:

---
#### Windows Build Number _[Required]_
20H2

---
#### Description _[Required]_
Not working, just nothing

---
#### Steps To Reproduce _[Requ

[2021-02-24 12:18] Valkirie commented on #30
Thanks for sharing but closing this one. Duplication of #16.
Will edit/comment the original post to add the IceLake SKUS mentioned here.

[2021-02-24 12:18] #30 closed

[2021-02-24 12:19] Valkirie commented on #16
Also reported on #30. Impacted SKUs:
- 1035G7
- 1160G7

[2021-02-25 22:20] IGCIT commented on #2
not sure if battlefield or driver, but seems fixed

[2021-02-25 22:20] #2 closed

[2021-02-26 23:47] leoben2 commented on #16
We have repro, and is under debug now.

[2021-02-26 23:47] leoben2 commented on #17
Under debug.

[2021-02-26 23:48] leoben2 commented on #21
This is under debug now.

[2021-02-28 05:58] nielo360 commented on #6
Does not work on the win max ice lake on the latest beta driver crashes out after 4 mins after first time play. Then cannot be run again

[2021-03-02 13:11] poulan9 opened #31 "Just Cause 4"
#### Game _[Required]_

Just Cause 4
---
#### CPU _[Required]_
i7 1160G7
---
#### GPU Driver Version _[Required]_

27.20.100.9168
---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:
**API Version** _(example DirectX 12)_:
DirectX11
---
#### Windows Build Number _[Required]_
Latest

---
#### Description _[Required]_
Awful frame rate
---
#### Steps To Reproduce _[Required]_

Pr

[2021-03-04 21:31] #27 closed

[2021-03-04 21:47] hididi31 commented on #27
Great job Intel. The game working now with new driver Intel 4 march

[2021-03-04 21:49] hididi31 commented on #25
Very good job, working with new driver 4 march. Thanks

[2021-03-04 21:49] #25 closed

[2021-03-05 13:48] nielo360 commented on #6
Does not work on ice lake win max even with latest driver crashes after a min in game. Why not support iris

[2021-03-05 16:55] IGCIT commented on #12
tested for 3 hours and yeah, crashes are gone

[2021-03-05 16:56] leoben2 commented on #12
noice!

[2021-03-05 17:06] IGCIT opened #32 "Doom eternal"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]

---Doom eternal
#### Processor / Processor Number [Required]
i7-1165G7

#### GPU Driver Vers

[2021-03-05 19:16] IBJamon opened #33 "Monster Jam Steel Titans 2 glitches on grass"
#### Game _[Required]_
Monster Jam Steel Titans 2 https://store.steampowered.com/app/1205480/Monster_Jam_Steel_Titans_2/

---
#### CPU _[Required]_
i5-1035G7, m3 7Y30 (I tested it on both)
(a.k.a. GPD Win Max, and GPD Win 2)

---
#### GPU Driver Version _[Required]_
9136 (latest)

---
#### Rendering API _[Required]_
Unknown; it uses Unreal Engine 4

---
#### Windows Build Number _[Required]_
Windo

[2021-03-05 20:21] IBJamon opened #34 "Crysis Remastered glitch when looking at the sky"
#### Game _[Required]_
Crysis Remastered

---
#### CPU _[Required]_
i5 1035G7 (GPD Win Max)

---
#### GPU Driver Version _[Required]_
9316, but this bug has existed for a while

---
#### Rendering API _[Required]_
I believe DX11, but unverified

---
#### Windows Build Number _[Required]_
Windows 10 20H2

---
#### Description _[Required]_
When looking up at a sunlit sky, the sky textures will repea

[2021-03-08 09:32] halljames commented on #12
Still crashes for me.

[2021-03-08 09:37] Valkirie commented on #12
Please share details on your hardware.

[2021-03-09 23:19] IBJamon opened #35 "WRC 9 crash (regression)"
#### Game _[Required]_
WRC 9 FIA World Rally Championship

---
#### CPU _[Required]_
i5-1035G7 (GPD Win Max)

---
#### GPU Driver Version _[Required]_
9316 (crashes on older ones I tested also)

---
#### Rendering API _[Required]_
DirectX 11 and 12 both crash
**API** _[DirectX, OpenGL, Vulkan]_:
**API Version** _(example DirectX 12)_:

---
#### Windows Build Number _[Required]_
Windows 10 20H2 (19

[2021-03-22 13:50] hididi31 opened #36 "Need For Speed Payback Crash"
#### Game _[Required]_
Need for speed playback

---
#### CPU _[Required]_
I7-1160g7

---
#### GPU Driver Version _[Required]_
Latest GPU driver

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:DirectX
**API Version** _(example DirectX 12)_:DirectX11

---
#### Windows Build Number _[Required]_
Latest build windows

---
#### Description _[Required]_
The games random crash af

[2021-03-22 13:54] hididi31 opened #37 "Star wars Battlefront 2 crash"
#### Game _[Required]_
star Wars battlefront crash

---
#### CPU _[Required]_
I7-1160g7

---
#### GPU Driver Version _[Required]_
Latest official Intel GPU driver

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:DirectX
**API Version** _(example DirectX 12)_:DirectX 11

---
#### Windows Build Number _[Required]_
Latest build

---
#### Description _[Required]_
The game rand

[2021-03-22 13:57] hididi31 opened #38 "Star wars Squadrons crash"
#### Game _[Required]_
Star Wars Squadron

---
#### CPU _[Required]_
I7 116G7

---
#### GPU Driver Version _[Required]_
Latest Intel driver

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:Direct x
**API Version** _(example DirectX 12)_:Directx 11

---
#### Windows Build Number _[Required]_
Latest build

---
#### Description _[Required]_
The game random crash during campai

[2021-03-22 14:00] hididi31 opened #39 "Battlefield 5"
#### Game _[Required]_
Battlefield 5

---
#### CPU _[Required]_
I7-1160g7

---
#### GPU Driver Version _[Required]_
Latest Intel GPU driver

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:Direct x
**API Version** _(example DirectX 12)_:DirectX 11

---
#### Windows Build Number _[Required]_
Latest build

---
#### Description _[Required]_
Random crash during multiplayer
---

[2021-03-22 14:02] hididi31 opened #40 "Dirt 5 crash at launch"
#### Game _[Required]_
Dirt 5

---
#### CPU _[Required]_
I7 1160G7

---
#### GPU Driver Version _[Required]_
Latest Intel GPU driver

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:don t know
**API Version** _(example DirectX 12)_:don t know

---
#### Windows Build Number _[Required]_
Latest build

---
#### Description _[Required]_
Just want to see if the game run well on

[2021-03-22 14:06] hididi31 commented on #17
Just for motive engineers Intel. The games run well on AMD 4500u, 30 fps and this apu got only 1,1 t flops, the iris xe got 1,7 t flops 😆

[2021-03-22 17:54] IGCIT commented on #15
issue caused by system settings, @reiterizpie confirmed it is now solved.

[2021-03-22 17:54] #15 closed

[2021-03-23 11:47] hididi31 commented on #35
WRC 9 working Fine on 1160g7. But there is some glitch. For exemple lightning and lightning bolt

[2021-03-23 13:19] IBJamon commented on #35
Yeah, it's strange, because it doesn't crash for me on my older GPD Win 2 (m3-7Y30).

Also, after I posted this bug, I noticed that it does crash on other driver versions; it seems to work okay for the first race after a driver change, but it'll crash any second time loadings.

I also notice that it crashes when there is the chance for a black screen.  So, in between levels, or when starting up fo

[2021-03-24 06:16] LesBoobies commented on #12
Does not launch at all after the latest DE update.
Just black screen for a few seconds and quits to desktop

[2021-03-24 09:27] IGCIT commented on #12
@LesBoobies
i ve just update mine, it is working (bethesda launcher)

what is your hardware? driver version?
have you tried to reinstall the game?

[2021-03-24 11:31] LesBoobies commented on #12
@IGCIT reinstalled twice. Tried on latest driver - 9316 and also tried 8935.
Gpd win max (i5-1035G7 / Iris Plus 940)
Problems occured right after update

[2021-03-24 12:20] IGCIT commented on #12
@LesBoobies
ok, we have the same hardware, so there is something else going on there
are you a member of gpd discord server? you could find more help there

[2021-03-26 12:17] hididi31 opened #41 "Watch Dogs Legion"
#### Game _[Required]_
Watch Dogs legion

---
#### CPU _[Required]_
I7-1160G7

---
#### GPU Driver Version _[Required]_
Latest official driver

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:Direct X
**API Version** _(example DirectX 12)_:Direct X12

---
#### Windows Build Number _[Required]_
Latest

---
#### Description _[Required]_
With Directx12 the game have too many

[2021-04-01 05:53] leoben2 commented on #40
We've detected a corruption but can't find a crash so far. Can you provide more accurate system and OS details pls?

[2021-04-01 05:54] leoben2 commented on #41
we're trying to reproduce this. Don't expect performance to be good on TGL. It's way below min spec.

[2021-04-01 05:55] leoben2 commented on #39
not able to reproduce this, would need more system details, may not be graphics related.

[2021-04-01 05:56] leoben2 commented on #38
not able to repro this either, need more system details to proceed.

[2021-04-01 05:59] leoben2 commented on #33
This is under debug now.

[2021-04-01 06:00] leoben2 commented on #34
We reproduced this, not sure when we can get to this one though as a few other games are in front of this in the debug queue.

[2021-04-01 06:02] leoben2 commented on #32
we can't see this behavior. Are there any thermal limits your system is hitting maybe?

[2021-04-01 06:03] leoben2 commented on #36
we reproduced this, under debug.

[2021-04-01 06:03] leoben2 commented on #36
please provide actual build numbers instead of 'latest'.

[2021-04-01 06:05] leoben2 commented on #31
I think the performance on this game on iGPU is generally poor, we're seeing sub 15 FPS on top TGL SKU. Not sure we can do much about it as the min spec is above it.

[2021-04-01 06:06] leoben2 commented on #26
reproduced, unfortunately there will be other games in front of the queue here.

[2021-04-01 06:08] leoben2 commented on #23
There are a few issues with this game on Intel gfx. We're working with the dev to see what can be done.

[2021-04-01 06:33] poulan9 commented on #31
Yet Microsoft FS2020 and Cyberpunk 2077 play fine on TGL at lowest settings.

[2021-04-01 07:13] Valkirie commented on #22
Closing as similar to #23.

[2021-04-01 09:12] IGCIT commented on #32
@leoben2
no limits, the device is fully unlocked and the os is optimized for performance, temps are good (70-80)

it is just some specific places, the game runs great at ~40 fps but in those parts fps drop to 3-4

for ex.
40fps, you rotate the camera and look at a wall, fps drops to 3, you then rotate the camera again and fps are back to 40
there is clearly something that is not working nicely wit

[2021-04-01 12:11] IBJamon commented on #35
Attached is a crash dump from the game.  Since it actually shows it's the driver crashing, I suspect this will be helpful.

[0c51fd60-d783-4369-9d86-50104bc46ab9.zip](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/files/6243344/0c51fd60-d783-4369-9d86-50104bc46ab9.zip)

[2021-04-01 13:42] nielo360 commented on #41
I get a good 27-34fps on my gpd win max with ice lake on dx11 with low resolution. Dx 12 is broken on ice lake as well everything is red, its a driver issue.

[2021-04-01 13:44] nielo360 commented on #6
Crashes after 1 min on ice lake with 1.2 patch.. its actually playable until it crashes.

[2021-04-01 16:03] hididi31 commented on #41
Yes I Don t expect super performance on tiger lake but when I M using default dx12 with glitch and missing corlort he game run much better than dx11. I report the bug for trying improve the perf of tiger lake and dx12 for other games. Le 1 avr. 2021 07:54, leoben2 ***@***.***> a écrit :
we're trying to reproduce this. Don't expect performance to be good on TGL. It's way below min spec.

—You are r

[2021-04-01 16:07] hididi31 commented on #39
Ok try to provide more détails Windows 10.0.19042 build 19042I7 1160g7 last GPU driver16gb ramOneGXproIt happens with all games using the frostbyte engine from Dice  so battlefront battlefield 1 , battlefield 5, Need for speed playback, nfs heat. Launching games on OriginTell me if you Need more infosLe 1 avr. 2021 07:55, leoben2 ***@***.***> a écrit :
not able to reproduce this, would need more s

[2021-04-01 16:17] hididi31 commented on #38
Hello I reply to you for battlefield 5 just copy my answer try to provide more détails Windows 10.0.19042 build 19042I7 1160g7 last GPU driver16gb ramOneGXproIt happens with all games using the frostbyte engine from Dice  so battlefront battlefield 1 , battlefield 5, Need for speed playback, nfs heat. Launching games on OriginTell me if need more infoThanksLe 1 avr. 2021 07:56, leoben2 ***@***.***

[2021-04-01 16:18] hididi31 commented on #37
Hello I reply to you for battlefield 5 just copy my answer try to provide more détails Windows 10.0.19042 build 19042I7 1160g7 last GPU driver16gb ramOneGXproIt happens with all games using the frostbyte engine from Dice  so battlefront battlefield 1 , battlefield 5, Need for speed playback, nfs heat. The games run Fine but can crash suddenlyLaunching games on OriginTell me if need more infoThanks

[2021-04-01 16:19] hididi31 commented on #36
Hello I reply to you for battlefield 5 just copy my answer try to provide more détails Windows 10.0.19042 build 19042I7 1160g7 last GPU driver16gb ramOneGXproIt happens with all games using the frostbyte engine from Dice  so battlefront battlefield 1 , battlefield 5, Need for speed playback, nfs heat. The games run Fine but crash suddenlyLaunching games on OriginTell me if need more infoThanks you

[2021-04-01 16:20] hididi31 commented on #36
Hello I reply to you for battlefield 5 just copy my answer try to provide more détails Windows 10.0.19042 build 19042I7 1160g7 last GPU driver16gb ramOneGXproIt happens with all games using the frostbyte engine from Dice  so battlefront battlefield 1 , battlefield 5, Need for speed playback, nfs heat. The games run Fine but crash suddenlyLaunching games on OriginTell me if need more infoThanks you

[2021-04-01 16:22] hididi31 commented on #26
Thank you for you Re reply. If you Can fix this game I future update I ll be very happy. Anyway thanks for your workLe 1 avr. 2021 08:06, leoben2 ***@***.***> a écrit :
reproduced, unfortunately there will be other games in front of the queue here.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-04-01 16:24] hididi31 commented on #41
You got 30 fps in town ? With the i7 1160 g7 Don t have more than 20 fps. I report bug with dx12 so wé ll see if they fix it but apparently no hopeLe 1 avr. 2021 15:43, nielo360 ***@***.***> a écrit :
I get a good 27-34fps on my gpd win max with ice lake on dx11 with low resolution. Dx 12 is broken on ice lake as well everything is red, its a driver issue.

—You are receiving this because you auth

[2021-04-01 23:56] IGCIT opened #42 "Disco Elysium Final Cut crashes on boot"
Submitter: Sam Gajewski
Game Disco Elysium Final Cut

CPU Intel Core i5 - 1035G7

GPU Driver Version 27.20.100.9316

Rendering API DX 11

Windows Build Number [Required]

Description [Required]

Steps To Reproduce [Required]

Screenshots [Optional]

Save game (if possible, could help solve the issue faster) [Optional]

Game logs (if available) [Optional] [Recommended]

Notes [Optional]

[2021-04-02 21:07] bizude opened #43 "Dragon Age Origins - Dialogue/Choices Text does not render"
#### Dragon Age Origins

---
#### CPU i9-11900k

---
#### GPU Driver Version 27.20.100.9220

---
#### Rendering API DirectX 9

---
#### Windows Build Number 20H2 19042.870

---
#### Description The text in Dialogue Scenes in Dragon Age: Origins appears as a black box, preventing a user from playing the game normally.

---
#### Steps To Reproduce I have installed the 9220 driver and tested it with

[2021-04-09 06:48] Valkirie commented on #17
Indeed, [game works great on AMD 4500U](https://www.youtube.com/watch?v=bvfblj5E634) that is no better than TGL 1165G7.
Hang on @leoben2 !

[2021-04-12 03:47] kvark opened #44 "Unexpected "DeviceRemoved" on CreatePlacedResource()"
#### Emulator _[Required]_

Original issue - https://github.com/gfx-rs/wgpu/issues/1319 - is happening with `wgpu`.

---
#### CPU/GPU _[Required]_

Intel i5-4570
Intel HD Graphics 4600

---
#### GPU Driver Version _[Required]_

20.19.15.5171

---
#### Rendering API _[Required]_

DirectX 12

---
#### Description _[Required]_

At some conditions, creating a placed resource with `CreatePlacedResource

[2021-04-13 22:44] mva94 opened #45 "Assassin's creed valhalla"
#### Game _[Required]_
Assassin's Creed  Valhalla

---
#### CPU _[Required]_
I7 1165g7

---
#### GPU Driver Version _[Required]_
27.20.100.9316

---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:
**API Version** _(example DirectX 12)_:

directx 12
---
#### Windows Build Number _[Required]_
latest build

---
#### Description _[Required]_
Game works but takes 5 minutes go star

[2021-04-13 22:51] mva94 commented on #20
There is also a weird behavior with the 16/10 display ratio.
When set to a full-screen resolution ( 16/10) the game will not go above 30 frames as if vsync was on .
Issue goes away when switched to windowed mode and goes up to a steady 60 frames at the same resolution.

Of course I checked that nothing was interfering
@Valkirie

[2021-04-15 09:09] Valkirie commented on #22
Hey @leoben2 any chance you could prioritize this one ? Obviously a huge license with strong community expectations and the game just doesn't boot. Any update from **Beenox** you could share ?

[2021-04-16 07:49] Valkirie commented on #42
@leoben2 could you give this a look ?

[2021-04-16 08:05] Valkirie commented on #43
Hey @leoben2, just a quick ping as this one was reported two weeks ago.

[2021-04-16 08:07] Valkirie commented on #35
Hey @leoben2, just a quick ping as this one was reported two weeks ago.

[2021-04-16 08:09] Valkirie commented on #16
Hey @leoben2, just a quick ping as this one was acknowledged late Feb.

[2021-04-17 01:53] KingYozora opened #46 "Kingdom Hearts 2 - Game Running in Slow Motion + Constant FPS Drops"
Kingdom Hearts 2 from the 1.5+2.5 PC Collection

---
i5-1035G7

---
Driver Version: 27.20.100.9316

---

DirectX 12

---
Windows Build Number 20H2 19042.870

---
Description: Bunch of frame drops below 60fps on Intel GPUs and game runs in slow motion even when running at 60fps during battle when playing as Roxas in the beginning of the game.  This does not happen on my weaker Nvidia 740M GPU or my

[2021-04-17 14:51] IBJamon commented on #35
This seems MASSIVELY improved with the 9466 driver.  I'm still trying to reproduce the issue, and so far so good.

[2021-04-18 14:00] mva94 opened #47 "Dark souls 3 crashes"
#### Game _[Required]_
Dark souls 3

---
#### CPU _[Required]_
I7 1165g7

---
#### GPU Driver Version _[Required]_

27.20.100.9466
---
#### Rendering API _[Required]_

**API** _[DirectX, OpenGL, Vulkan]_:
**API Version** _(example DirectX 12)_:

directx11
---
#### Windows Build Number _[Required]_

latest
---
#### Description _[Required]_

after 5-10 minutes randomly crashes and brings you back to

[2021-04-18 14:01] mva94 commented on #45
@leoben2
Just as bad on latest drivers...

[2021-04-18 21:17] IBJamon commented on #35
I believe the issue can be closed.  I'll keep testing the game since the crash was so repeatable with new drivers, but I think we're good here finally!

[2021-04-18 21:17] #35 closed

[2021-04-19 10:04] hididi31 commented on #26
Just want say you thank you vert much to fix the game in last update

[2021-04-19 10:05] hididi31 commented on #26
Thank you very much to fix that game in last GPU update.

[2021-04-19 10:05] #26 closed

[2021-04-22 05:40] leoben2 commented on #45
We reproduced this and is in the debug/dev queue.

[2021-04-22 05:42] leoben2 commented on #43
Just checking - this is a desktop CPU that's usually in a system with a discrete GPU. So no graphics card in your system?

[2021-04-22 09:52] Valkirie commented on #5
@leoben2 Any update from Bungie on this one ?

[2021-04-22 13:48] mva94 commented on #5
Would be great to see this game solved

[2021-04-23 14:35] bizude commented on #43
Correct, this was tested with an i9-11900k system with no dGPU installed.
If preferred, I can upload a video showing the bug.

[2021-04-23 18:10] Valkirie commented on #43
Sorry @bizude, going to close that issue because it's not Intel GPU related. I should have saw it in the first place.
Please note this community platform really is all about raising issues on Intel GPU (HD, UHD, Iris, Iris Xe, ...)

[2021-04-23 18:21] bizude commented on #43
This was with the UHD 750 iGPU, how is it not related?

On Fri, Apr 23, 2021, 12:10 PM Lesueur Benjamin ***@***.***>
wrote:

[2021-04-23 18:32] Valkirie commented on #43
Missread the SKU. Thanks @IGCIT for reopening :)

[2021-04-24 05:42] kurikomoe opened #48 "[offtopic] iGPU crash can be related to the design from device manufacturer"
TLDR;
I suggest that the bug reports should carry the device brand name, such as GPD win3 or GX1PRO, etc.

-------

In GPD Win3 and OneXPlayer Chinese QQ Group, the crash reports seem to be highly corresponding to the QC of the manufacturing.

For GPD win3, 1135g7 version seems to meet less crash. When things come to 1165g7, it varies a lot. Some report that the crash makes it hardly playable, whi

[2021-04-24 06:29] Valkirie commented on #48
I believe that's a nice idea. I've seen issues submitted here that looked a lot like a faulty VR (Voltage Regulator).
I'll update the issue template accordingly.

[2021-04-24 08:50] IGCIT commented on #48
eh!
i thought about this too, i just forgot this and i had not much time

an update to the IGCIT Helper is planned to include more info and i would like to push more its usage so that we have more precise data instead of "latest" etc.

yeah, these devices have some hw faults

thank you :)

[2021-04-24 08:56] Valkirie commented on #48
GPD recommending to lower GPU frequency to 800Mhz on some products is the biggest RED flag I've seen in a long time.

[2021-04-24 13:52] kurikomoe commented on #48
I have pre-ordered OneXPlayer in China and will get one by May 12th (UTC+8). Hopefully, I can recheck some of the games listed in issues on the OneXPlayer 1165g7 version to verify the crash problems.

(Though the problem is that all my games are consoles version, I indeed have few games on Steam, LOL)

[2021-04-24 14:26] Valkirie commented on #48
Looking forward to hear from you then. The more devices we have, the more we can differentiate false positive (from faulty device, bad luck, etc...) from true issue.

[2021-04-26 12:04] IGCIT commented on #48
closing this now so we keep focus on game issues, thank you :)

[2021-04-26 12:04] #48 closed

[2021-04-26 12:07] IGCIT commented on #32
finally tested the new driver

crash has been fixed, yet you cannot progress further in the game due to fps being too low (1-2)

requoting my previous message:

`i m here
https://youtu.be/3O5dPSzmzkw?t=1907

i cannot kill that monster because of low fps and constant freezes`

[2021-04-28 22:16] chibi4588 opened #49 "Nier: Automata - Crash"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Nier: Automata
---
#### Processor / Processor Number [Required]
Intel Core i7-1160G7
---
####

[2021-05-02 11:30] mva94 opened #50 "Resident evil 8"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x]  Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Resident evil 8

---
#### Processor / Processor Number [Required]
I7 1165g7

---
#### GPU Dr

[2021-05-02 11:56] Valkirie commented on #50
Please share all game settings so that we can circle which option is causing the crash. Wasn't able to reproduce on 1035G7 with game settings set to Performance, fullscreen.

[2021-05-09 00:26] thealgorithmc64 opened #51 "Control - Global Reflection bug"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Control
---
#### Processor / Processor Number [Required]
i7 1165g7
---
#### GPU Driver Versio

[2021-05-11 23:17] ricera commented on #5
Yeah, I'd like to see Destiny 2 working properly, too.

[2021-05-12 08:58] bcysewsk commented on #50
We see issue in first minutes of gameplay in random places. It's infact an OS issue and we're working over WA on our side. May it be the same what you're observing? Does crash happening always in the same place or in random moments? Do you see that after starting gameplay or either in game menu?
We would be fully sure that it's the same issue if you would be able to collect memory dump for us. Her

[2021-05-12 09:01] bcysewsk commented on #49
Sorry that you need to wait. We reproduced the issue and now we're analyzing what caused the problem

[2021-05-12 09:02] mva94 commented on #50
It is never in game menu always in game .
Happens randomly after after few minutes,  sometimes 20 minutes.
The only thing affecting this is the vram usage,  if I put all the settings to their lowest values it takes longer to crash,  as soon as you increase say a bit the textures it crashes.
I am going to try that out today for you
Nice to see you here!

[2021-05-12 09:04] bcysewsk commented on #51
Hi, thank You for reporting the issue. We just started reproduction. we will let you know when we will have repro

[2021-05-13 20:49] ChiefyGoodness commented on #5
I hope they eventually resolve this, because I'd really like to be able to play Destiny 2 again.

[2021-05-14 05:20] Valkirie commented on #5
My most anticipated game as well. Trust me i'm going to chase Intel here but truly it's Bungie'd job to get this one fixed.

[2021-05-17 16:41] bcysewsk commented on #49
Is it 100% reproducible or do you see it sometimes? Actually we have problem to reproduce it again for analysis.
If it's 100% reproducible on your machine can you share crash dump? Here's how to do that:
https://www.windows10forums.com/articles/how-to-enable-minidump-logs-in-windows-10.50/
We would require full dump not a small dump as it's presented. *.dmp file should show after game crash in C:\

[2021-05-17 18:28] ricera commented on #5
Out of curiosity, can we get an explanation of what the problem is on Bungie's end? Some light googling mentioned something about their anti-cheat interfering with the Intel driver, which sounds odd.

[2021-05-17 20:04] chibi4588 commented on #49
@bcysewsk
It is 100% reproducible on my system everytime, however, it is not generating a crash dump when this happens in either of the directories you reference.

[2021-05-17 20:23] Valkirie commented on #49
Can you enable local crash dumps: https://helgeklein.com/blog/2018/10/creating-an-application-crash-dump/

[2021-05-17 22:34] chibi4588 commented on #49
I have created the registry key for WER, and it is still not generating a crash dump... perhaps because the game has not fully crashed?  Whitescreen while the game is still running.  Not sure.

[2021-05-18 05:15] Valkirie commented on #49
Well most likely drivers crashed but not the game.

[2021-05-23 17:51] brendan1234567123 opened #52 "Paladins Crash on startup"
#### Checklist [README]

- [ X] Device is not undervolted nor overclocked.
- [X ] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X ] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Paladins
---
#### Processor / Processor Number [Required]
Intel Core i7-1165G7
---
#### GP

[2021-05-24 09:14] mva94 commented on #52
@brendan1234567123 that is not an intel issue .
Try the epic store instead of steam and the game don't crash anymore .
For some reason it works no more with steam .
Close the issue if it is solved

[2021-05-25 06:50] kurikomoe opened #53 "[Graphics Glitch] Atelier Sophie Alchemist of the Mysterious Book"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Atelier Sophie Alchemist of the Mysterious Book
Steam:  https://store.steampowered.com/app/52

[2021-05-25 06:58] kurikomoe opened #54 "[Crash, FIXED] Resident Evil 7 Windows Store Version"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Resident Evil 7
Windows Store:  https://www.microsoft.com/en-us/p/resident-evil-7-biohazard/b

[2021-05-27 01:16] #52 closed

[2021-05-27 04:35] ihainan commented on #49
I met the same issue on GPD WIN 3 and ONEXPLAYER (both are i7-1165G7 and 9466 drivers), it's very strange that the issue only occurs when I play as 9s.

GPD WIN 3: https://youtu.be/Ao4_J4i7c7E?t=317

ONEXPLAYER: https://www.youtube.com/watch?v=ppvAtk099Vs

[2021-05-27 06:29] kurikomoe commented on #54
a fully reinstall windows 21H1 and RE7 windows store version, 27.20.100.9616 beta driver, still crashes on startup

[code]

[2021-05-28 03:08] nielo360 opened #55 "Cyberpunk has major graphics glithes in the new beta"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]

---
#### Processor / Processor Number [Required]
i7-1165G7

#### GPU Driver Version [Require

[2021-05-28 03:12] nielo360 opened #56 "Doom eternal again is unplayable constant stutter with high framerate"
#### Checklist [README]

- [x ] Device is not undervolted nor overclocked.
- [ x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [ x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]

---Doom eternal
#### Processor / Processor Number [Required]
i7-1165G7

#### GPU Driver V

[2021-05-28 07:47] Valkirie commented on #6
Closing this one. Cyberpunk no longer crashes but now has major glitches since latest drivers.
Please use #55 to follow-up.

[2021-05-28 07:47] #6 closed

[2021-05-28 07:48] #12 closed

[2021-05-28 07:50] Valkirie commented on #56
Duplicated from #32. Merge the two.
Closing this one, please use #32 to ensure follow-up.

[2021-05-28 07:50] #56 closed

[2021-05-28 07:51] Valkirie commented on #32
@leoben2 latest drivers 27.20.100.9466 is still having huge hiccups in framerate.

[2021-05-28 08:06] Valkirie commented on #51
@thealgorithmc64 Can you confirm reflection bug is fixed as of : 27.20.100.9616 ?

[2021-05-28 08:27] Valkirie commented on #54
@leoben2 This one is still not fixed as opposed to [this post](https://community.intel.com/t5/Graphics/Resident-Evil-7-crashes-at-startup-intel-Iris-Plus-G4/td-p/647803/page/2) from intel community forum.

[2021-05-28 09:02] kurikomoe commented on #54
some said that Re7launcher.exe may work, but sadly for the windows store version (Xbox game pass for pc), there is no way to use re7launcher to bypass the crash.

re7launcher.exe: [https://www.reddit.com/r/gpdwin/comments/j0mlmo/experience_share_about_re7_on_win_max/](https://www.reddit.com/r/gpdwin/comments/j0mlmo/experience_share_about_re7_on_win_max/)

buy another copy of re7 on steam may be a

[2021-05-28 12:25] mva94 opened #57 "Forza horizon menu broken and performances have gotten worse with the latest beta version"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Forza horizon
---
#### Processor / Processor Number [Required]
I7 1165g7
---
#### GPU Driver

[2021-05-28 13:01] mva94 commented on #55
Indeed there there a lot of artifacts happening which makes the game unplayable.
I can though notice some improvements in term of framerate when it is playable..
![20210528_145955](https://user-images.githubusercontent.com/78859716/119987706-9c7f8f00-bfc5-11eb-8d1e-3b0f9acd3daf.jpg)

[2021-05-28 13:14] mva94 commented on #45
@leoben2 this is not solved on the latest drivers I don't why you stated so but it is just as bad and unplayable.
Games takes no joke 5 minutes to boot .
You can only play with the camera aimed towards the flow as otherwise you get glitches or a completely white screen as observed in the second pic.
![20210528_151158](https://user-images.githubusercontent.com/78859716/119989361-60e5c480-bfc7-11eb-

[2021-05-28 16:37] mva94 commented on #23
@leoben2 game starts one time out of ten and all the time you stay stuck during this load screen as you can see in the link
https://youtu.be/1XuNVWhadd8

[2021-05-28 18:03] thealgorithmc64 commented on #51
I can confirm that this is fixed on 9616.   tried it on i7 1165g7 + XE and i5 1135g7+XE.  cwillis,  check that the driver did not automatically downgrade (happened to me and i rolled back to the latest (9616) - This was tested on the very first level..

[2021-05-28 19:18] Cwiiis commented on #51
![Screenshot 2021-05-28 201615](https://user-images.githubusercontent.com/668518/120032261-d6668a80-bff1-11eb-8418-8baf85837622.png)

![Screenshot 2021-05-28 201655](https://user-images.githubusercontent.com/668518/120032279-dcf50200-bff1-11eb-8523-1e52c977fe21.png)

![Screenshot 2021-05-28 201746](https://user-images.githubusercontent.com/668518/120032289-dfeff280-bff1-11eb-9243-57a12160bdc1.png)

[2021-05-28 19:20] Cwiiis commented on #51
![Screenshot 2021-05-28 201930](https://user-images.githubusercontent.com/668518/120032433-1594db80-bff2-11eb-92e8-d3db4b7e82f2.png)
![Screenshot 2021-05-28 201952](https://user-images.githubusercontent.com/668518/120032437-16c60880-bff2-11eb-98da-e5ddcc721d7b.png)

My graphics settings.

[2021-05-28 19:41] thealgorithmc64 commented on #51
Not sure what is happening here.    Just tested it again.   Attached is the video showing the settings and the first level of the game, As you can see, there are no issues.   perhaps try uninstalling and reinstalling drivers again. could be some partial installation from your end perhaps?   (I tried both dx11 and dx12 versions) and no issues at all and the video reflects on this.   No problems at

[2021-05-28 19:57] Valkirie commented on #51
Reopening until sorted. Could it be this game has some shader cache somewhere that should be cleared between driver installation ?

[2021-05-28 20:03] Cwiiis commented on #51
The issue persists for me even after clearing the shader cache - mine is the Microsoft Store version via Gamepass.

[2021-05-29 06:20] Rebusmind opened #58 "Hitman 3 running in slow motion with newest beta driver"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Hitman 3 (Epic Game Store)
---
#### Processor / Processor Number [Required]
i7-1165
---
####

[2021-05-29 06:21] Valkirie commented on #58
Hey, was the game running better on previous drivers?

[2021-05-29 06:23] Atnik commented on #58
Yes, on the most recent official release (9466) the game runs perfectly.

[2021-05-31 15:43] iAmGhost commented on #32
I'm using same device and I found that Microsoft Store version of Doom Eternal with 27.20.100.9313 driver is much playable. There's still some hiccups but less frequent, recovers faster, no permanent freeze.

However Steam version of Doom Eternal will crash while launching with 9313 driver. Crashing fixed on 9466/9616 but it's unplayable because of freezing.

[2021-05-31 15:53] Valkirie commented on #32
Thanks that's a very useful comment.

[2021-05-31 17:14] Cwiiis commented on #51
An extra note, I see the visual regressions in Cyberpunk, so this definitely isn't a case of the driver not being installed somehow (though I did go to great lengths to make extra sure it was the correct driver being used, including using Display Driver Uninstaller while in safe mode with no network).

I notice in another issue that someone is commenting on a problem being fixed for the Steam vers

[2021-06-01 22:37] KingYozora opened #59 "Kingdom Hearts 1.5+2.5 & Kingdom Hearts 2.8 not starting up with latest drivers"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
1. Kingdom Hearts 1.5+2.5 HD Collection
2.  Kingdom Hearts 2.8: Final Chapter Prologue
---
##

[2021-06-02 02:19] SephirothXJPN90 opened #60 "Mortal Kombat 11 dont connect with WB servers"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Mortal Kombat 11 Ultimate
---
#### Game Platform [Required]
- [X] Steam
- [ ] Origin
- [ ] Mi

[2021-06-02 07:28] IGCIT commented on #60
please specify your processor

this seems to be a known issue of the steam version and not related to intel drivers, @Valkirie ?

[2021-06-02 08:57] TimoMueller opened #61 "ELEX rendering object edges incorrectly"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
ELEX
---
#### Game Platform [Required]
- [X] Steam
- [ ] Origin
- [ ] Microsoft Store
- [ ] G

[2021-06-02 09:12] TimoMueller opened #62 "ELEX rendering object edges incorrectly"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
ELEX
---
#### Game Platform [Required]
- [X] Steam
- [ ] Origin
- [ ] Microsoft Store
- [ ] G

[2021-06-02 09:13] TimoMueller commented on #62
GitHub had a timeout.

[2021-06-02 09:13] #62 closed

[2021-06-02 09:25] Valkirie commented on #5
A patch from Bungie is expected in Jully to address that issue!

[2021-06-02 10:01] Saracchini opened #63 "MegaMan X Legacy Collection 1 and 2 Low performance/BlackScreen"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]

MegaMan X Legacy Collection 1 and 2
---
#### Game Platform [Required]
- [x] Steam
- [ ] Orig

[2021-06-02 15:51] Morph1984 commented on #21
This seems to be fixed after a combination of game updates and gpu driver updates, closing.

[2021-06-02 15:51] #21 closed

[2021-06-04 15:26] ricera commented on #5
That's awesome! Thanks for the news!

[2021-06-04 20:24] mva94 commented on #22
@leoben2 any news here ..?

[2021-06-06 19:34] mva94 opened #64 "Death stranding stuck for minimum 10 minutes on game loading time, performance are much worse on newer drivers, also crash ( see the picture) and weird glitches happening see the video"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Death stranding
---
#### Game Platform [Required]
- [x] Steam
- [ ] Origin
- [ ] Microsoft St

[2021-06-06 19:37] leoben2 commented on #22
We're working closely with Beenox on this...hopefully good news soon!

[2021-06-06 19:39] mva94 commented on #22
@leoben2 appreciate it !!!

[2021-06-07 08:34] iAmGhost commented on #32
Here's footage from Huaban, who is suffering same issue:
https://youtu.be/xA_bmzkjjwc

[2021-06-07 12:00] mva94 commented on #64
![Uploading 20210607_135611.jpg…]()

[2021-06-07 13:04] mva94 commented on #64
Here is the crash
![20210607_135611](https://user-images.githubusercontent.com/78859716/121021404-a5304c00-c7a1-11eb-80e4-8505a62703d3.jpg)

[2021-06-07 19:49] mva94 commented on #64
@leoben2
Video showing weird glitches
https://youtu.be/SwVoGzEMgjU

[2021-06-09 03:18] nscreated opened #65 "Fallout 4 CTD or system crash"
Game / Application: Fallout 4
Processor: Intel(R) Core(TM) i5-1035G7 CPU @ 1.20GHz
GPU driver version: 27.20.100.9616 (This has been my experience with every Intel driver after 8190)
Rendering API: DirectX11
Windows build number 19042 (20H2)
Description Fallout 4 crashes roughly after 10-15 minutes of gameplay. Sometimes is only a CTD, other times the entire system locks up permanently and can onl

[2021-06-09 07:37] Valkirie commented on #20
@mva94 where are we with Sekiro as of 100.9616 ?

[2021-06-09 07:58] Saracchini opened #66 "Ghosts 'n Goblins Resurrection Very low performance/ Unable to get Exclusive FullScreen"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Ghosts 'n Goblins Resurrection
---
#### Game Platform [Required]
- [x] Steam
- [ ] Origin
- [

[2021-06-09 11:19] #20 closed

[2021-06-09 18:32] IGCIT commented on #39
@hididi31
is this still an issue, i see no crashes for origin bf5 on tiger lake

[2021-06-10 14:22] ihainan commented on #49
It seems that the 9667 driver has fixed this issue?

https://www.youtube.com/watch?v=Xyc61RewsvQ

[2021-06-10 14:59] mva94 commented on #55
@Valkirie you should close it as it's not an issue anymore

[2021-06-10 15:17] #55 closed

[2021-06-10 15:18] Valkirie commented on #55
![image](https://user-images.githubusercontent.com/934757/121551403-e7f75b80-ca0f-11eb-9696-3d477dc50707.png)

[2021-06-10 15:20] Valkirie commented on #49
Fixed indeed. Closing. Thanks for the notification !

[2021-06-11 07:06] iAmGhost commented on #32
It looks like this issue is mentioned from [Known issues in Release Notes of new beta driver](https://downloadmirror.intel.com/30522/eng/ReleaseNotes_100.9667%20BETA.pdf)

[2021-06-11 11:46] TimoMueller commented on #61
30.0.100.9667 didn't fix this issue.

[2021-06-13 06:45] chibi4588 commented on #49
Why was this closed? This bug was not fixed

[2021-06-13 06:49] chibi4588 commented on #49
On latest drivers, if I need to record to Youtube I can, this is not fixed just because a contributor says as much on my opened bug.  Please reopen

[2021-06-13 07:02] chibi4588 commented on #49
@Valkirie Please dont hijack my bug with your squishy, lack of substance, just works answer.
https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/49#issuecomment-858714292

Reopen as not fixed

[2021-06-14 21:49] Cwiiis commented on #51
An update, this works fine for me in the Epic store version but is still broken in the Microsoft store version.

[2021-06-14 22:00] Cwiiis commented on #51
Looking at the task manager, this is likely because the Windows Store version uses the DX12 renderer and other stores use the DX11 renderer.

[2021-06-14 22:01] thealgorithmc64 commented on #51
The steam version works just fine with directX11 or DirectX12 executable

[2021-06-14 22:41] Cwiiis commented on #51
I've no idea then - something in the Windows Store version means that this isn't fixed there, my best guess is that there are app-specific work-arounds in the driver and the detection code doesn't pick up the Windows Store version for whatever reason. Either way, this issue appears to be Windows Store specific and now I can play with this setting enabled :)

[2021-06-16 17:09] mva94 commented on #45
@leoben2 you mentioned again in the latest beta that this game was solved.
Here is the result of the ' solved drivers '  https://youtu.be/__T9Kp12E1I

The games still takes 10 minutes to get to the menu by the way

[2021-06-16 22:01] mva94 commented on #22
@leoben2
Apparently the latest update from beenox changed something but didnt solve the issue .
Here is the new error

[2021-06-16 22:51] chibi4588 commented on #49
Video of crash uploaded to Youtube showing crash, whitescreen, while game still running.
https://youtube.com/watch?v=ml6vn4LrYN4&feature=share

[2021-06-17 08:52] RSaracchini commented on #66
Tested with latest beta version: 30.0.100.9667
Issue still persists.

[2021-06-17 08:52] RSaracchini commented on #63
Tested with latest beta version: 30.0.100.9667
Issue still persists.

[2021-06-17 14:24] RSaracchini commented on #63
Using the following config settings solves the full-screen issue as well the slow down. Game run at 60 fps if these settings are used in the **config.ini**  configuration file :
[code]

[2021-06-17 14:25] RSaracchini commented on #66
Full-screen issues and performance issues are solved if the following settings are used  **config.ini** configuration file.
[code]

[2021-06-17 14:44] Valkirie commented on #66
Interesting one. Can you also share the default value so that we can compare and understand what's the actual reason ? Was that the DirectX version ?

[2021-06-17 14:58] RSaracchini commented on #66
The default (and you cannot change it through the game, it must be manually edited) has those two variable set:

[code]

The remainder was left unchanged.
By setting those variables to respectively **_DirectX11_** and **_Disable_**, the game is able to set exclusive full-screen and run fine.

[2021-06-22 09:05] Rebusmind opened #67 "The Dark Pictures: Man of Medan Crash after start"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
The Dark Pictures: Man of Medan
---
#### Game Platform [Required]
- [X] Steam
- [ ] Origin
-

[2021-06-22 09:05] Rebusmind commented on #67
Btw. I tried it both with the latest stable driver and with the beta driver.

[2021-06-23 10:27] Rebusmind opened #68 "Dragon Age Inquisition Crash"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Dragon Age Inquisition
---
#### Game Platform [Required]
- [ ] Steam
- [X] Origin
- [ ] Micro

[2021-06-23 10:39] IGCIT commented on #68
have you tried the latest beta driver?

[2021-06-23 11:52] Rebusmind commented on #68
No, but as the game is nearly 10 years old I thought that it's pretty unrealistic that this does solve the issue.
But I saw that many people across all GPUs had problems like this. I'll try windowed fullscreen and lowered settings next to see if that helps.

[2021-06-24 02:05] drbenko773 commented on #23
Can confirm same issue on 1165g7, 16gb ram 4266. Have tried various drivers, was told 9616 was the one, same issues. Any progress on this issue??

[2021-07-04 10:41] 123besho321 commented on #20
i have crashes every 5 min if playing.
any updates?!

[2021-07-08 11:13] rabbit0864 opened #69 "Dakar 18 - Crash on launch"
#### Checklist [README]

- [x ] Device is not undervolted nor overclocked.
- [ x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x ] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Dakar 18
---
#### Game Platform [Required]
- [ x] Steam
- [ ] Origin
- [ ] Microsoft Store

[2021-07-08 14:21] marph43 opened #70 "Just Cause 3: Uses all memory (memory leak)"
#### Checklist [README]

- [X ] Device is not undervolted nor overclocked.
- [ X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Just Cause 3
---
#### Game Platform [Required]
- [X] Steam
- [ ] Origin
- [ ] Microsoft Sto

[2021-07-08 14:55] IGCIT commented on #70
Something wrong is happening for sure here, but please note:

Your Nvidia GPU has its own VRAM.
The Intel GPU uses your RAM as VRAM, so do not expect the same RAM usage of a pc that is using a discrete GPU.

[2021-07-08 20:47] ricera commented on #5
@Valkirie, is this the relevant patch? https://www.bungie.net/en/News/Article/50448

At the bottom, it mentions fixing crashing when launching on Intel Integrated Graphics.

[2021-07-09 04:33] Valkirie commented on #5
Indeed. Crash is fixed. Closing.

[2021-07-09 04:33] #5 closed

[2021-07-17 09:30] IGCIT opened #71 "Earth Defense Force 5: Severe graphical issues making the game unplayable no matter what"
Submitter: Jesse Bryant
Please take a moment to review this checklist before completing the form.

[ X] Device is not undervolted nor overclocked.
[ X] Device is using the latest drivers.
[ X] Game is not cracked, modded and use the latest patch.
Game Platform [Required]
[ X] Steam
[ ] Origin
[ ] Microsoft Store
[ ] GOG Galaxy
[ ] Ubisoft Connect
[ ] Battle.net
[ ] Epic Games
[ ] Bethesda.net
[ ]

[2021-07-18 10:32] TimoMueller commented on #61
30.0.100.9684 didn't fix this issue.

[2021-08-02 10:02] IGCIT opened #72 "Earth Defense Force: Iron Rain: random crashes on Iris XE graphics"
Submitter: Jesse Bryant
[ X] Device is not undervolted nor overclocked.
[ X] Device is using the latest drivers.
[ X] Game is not cracked, modded and use the latest patch.
Game Platform [Required]
[ X] Steam
[ ] Origin
[ ] Microsoft Store
[ ] GOG Galaxy
[ ] Ubisoft Connect
[ ] Battle.net
[ ] Epic Games
[ ] Bethesda.net
[ ] Other
Processor / Processor Number [Required]
11th Gen Intel(R) Core(TM) i7

[2021-08-09 20:46] the-minister commented on #45
Still facing this issue. When we try to face a light source, the game is unplayable. Everything becomes white. Only the health bar and the compass are visible.
Details:
	Intel(R) Iris(R) Xe Graphics
	Driver version:	30.0.100.9684
	Driver date:	09-07-2021
	DirectX version:	12 (FL 12.1)
	Physical location:	PCI bus 0, device 2, function 0
Device: GPD Win 3
Would be grateful for a fix.

[2021-08-11 09:32] Saracchini opened #73 "Need For Speed Heat performance drop/stuttering with driver 9684/9805/9862"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]

---
#### Game Platform [Required]
- [ ] Steam
- [x] Origin
- [ ] Microsoft Store
- [ ] GOG G

[2021-08-11 12:55] IGCIT commented on #17
confirmed no more crashes

[2021-08-11 12:55] #17 closed

[2021-08-11 18:23] RSaracchini commented on #73
Tested with newest 9805. Issue persists.

[2021-08-11 18:26] Saracchini opened #74 "MechWarrior 5 : Blank screen in game with DX12 mode"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]

---
#### Game Platform [Required]
- [x] Steam
- [ ] Origin
- [ ] Microsoft Store
- [ ] GOG G

[2021-08-11 18:32] Saracchini opened #75 "The Ascent: Crash in Title Screen/ DX12 Graphical Issues"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]

---
#### Game Platform [Required]
- [x] Steam
- [ ] Origin
- [ ] Microsoft Store
- [ ] GOG G

[2021-08-12 06:52] TreeChairRope commented on #72
Update: Same issue on 9805 drivers

[2021-08-12 07:06] TreeChairRope opened #76 "Earth Defense Force 5: Crashing on startup on new drivers"
#### Checklist [README]

- [x ] Device is not undervolted nor overclocked.
- [x ] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x ] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Earth Defense Force 5
---
#### Game Platform [Required]
- [x ] Steam
- [ ] Origin
- [ ] Mi

[2021-08-12 08:16] RSaracchini commented on #74
I found more details about the issue.
The Heavy tinting/Blank screen issue happens in maps with atmospheric effects (fog, snow, etc). If clear weather is selected, gameplay is smooth (better performance than using DirectX11) and no issues happen.

[2021-08-12 11:11] iAmGhost commented on #32
[Changelog of 30.0.100.9805](https://downloadmirror.intel.com/646152/releasenotes_100.9805.pdf) says this is fixed but still happening for me.

[2021-08-12 14:53] Valkirie commented on #58
@Rebusmind can we close this issue ?

[2021-08-13 08:22] RSaracchini commented on #74
Another update: If one switches graphic options in-game (for instance Special effects), the blank screen issue disappears until someone starts a new map.

[2021-08-13 11:19] Valkirie opened #77 "It Takes Two - LowLevelFatalError"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
It Takes Two

---
#### Game Platform [Required]
- [ ] Steam
- [X] Origin
- [ ] Microsoft Stor

[2021-08-14 08:56] IGCIT commented on #76
user confirmed this has been fixed by reinstalling the game

[2021-08-14 08:56] #76 closed

[2021-08-14 09:03] IGCIT commented on #71
fixed by 9805 driver

[2021-08-14 09:03] #71 closed

[2021-08-14 09:32] IGCIT commented on #72
game affected by OpenSSL SHA crash

see: [CPU specific bugs and workarounds - IGCIT Wiki](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/CPU-specific-bugs-and-workarounds)

[2021-08-14 09:32] #72 closed

[2021-08-14 10:02] RSaracchini commented on #74
Testing configs shows that issue does not happen if one sets Graphics Effects to High or Ultra. With certain atmospheric effects the screen is totally opaque with Low and Medium Graphics Effects.

[2021-08-15 11:31] RSaracchini commented on #75
If you set the unreal engine (through command-line) to use all threads or only one thread, you can actually navigate int he title screen less frenetically in order to get in game. You cannot stay for longer than a couple of seconds in the title screen (it crashes after a while), but you can at least go to single-player and then new game or resume.  It will not crash in DirectX12 mode, but it will

[2021-08-15 11:48] Rebusmind commented on #58
I don't know tbh, as I don't have the game on my Win 3 anymore.

[2021-08-17 09:16] BreakPoints commented on #75
I believe this is the shader pre-caching that was added in the later patches which happens on the menu. This causes the game to focus mostly on creating shaders to avoid stutter in-game and makes the menu pause a lot, this happens also on my RTX 2080 just not to the same degree.

I found that on the 1165G7 the menu pauses and stuttering lasts a very long time and has the chance to crash but does n

[2021-08-17 09:20] Saracchini commented on #75
Yes, the crash is always D3D device lost. I'll experiment and let it running when it does not crash and see how it does. I saw the game once running out of GPU memory in the city hub probably doing that too.
In DirectX12 mode, I notice that that there some visual glitches that definitely do not occur in DirectX11 mode.

[2021-08-17 16:03] Valkirie opened #78 "Diablo II - Resurrected Alpa, Beta"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Diablo II Resurrected Alpha, Beta

---
#### Game Platform [Required]
- [ ] Steam
- [ ] Origin

[2021-08-17 16:28] gennro commented on #78
Exact same issue on gpd win3 device, the game is DX12 though not DX11. Tried VKD3D dll binaries to see if I could get the game to run using DX12 to Vulkan and no luck that way.

[2021-08-17 16:40] Valkirie commented on #78
I was able to get into the game with **27.20.100.9616** but performance was terrible (_6fps in the menu_) unless setting device power profile to performance. Otherwise it appears the Intel Xe is not ramping up properly in frequency, staying below 400Mhz while GPU usage still is 100%.
![image](https://user-images.githubusercontent.com/934757/129765853-92ac6e93-6961-4dfb-b962-1d05fb8b9d66.png)

[2021-08-17 21:47] Saracchini commented on #78
Testing with GPD Win3 Here, 9466 drivers. It crashes. I'll test the newer ones.

[2021-08-18 08:36] iAmGhost commented on #78
Owner of [this video](https://www.youtube.com/watch?v=Y8zuYTvnLhw) said game works well with minor video glitch on Windows 10 19H1(=1903).

[2021-08-18 09:08] Valkirie commented on #78
Interesting. You might want to task that guy which driver build he's running.

[2021-08-18 09:45] iAmGhost commented on #78
They confirmed it's 30.0.100.9805.

[2021-08-18 09:48] Valkirie commented on #78
Language then ... ?

[2021-08-18 09:51] iAmGhost commented on #78
Language were set to Korean but I don't it's matter since they also confirmed it's not working on 21H1 with same driver.

[2021-08-18 09:55] Valkirie commented on #78
Brillant. Let me raise awareness to Intel then.

[2021-08-20 08:59] bizude opened #79 "Dragon Age Origins - Dialogue/Choices Text does not render"
#### Checklist [README]

- [X ] Device is not undervolted nor overclocked.
- [X ] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [ X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Dragon Age : Origins]

---
#### Game Platform [Required]
- [ ] Steam
- [X] Origin
- [ ] Microsoft St

[2021-08-20 09:03] IGCIT commented on #43
closing this since you opened a new one #79

[2021-08-20 09:03] #43 closed

[2021-08-21 12:21] TimoMueller commented on #61
30.0.100.9805 and 30.0.100.9862 didn't fix this issue.

[2021-08-22 15:20] Saracchini commented on #74
Cannot reproduce the issue in Beta 9862. Even with Low Graphic Effects I cannot see the heavy tint, Opaque glitch screen. I'll keep testing but issue **seems** fixed.

[2021-08-22 15:21] Saracchini commented on #73
Low performance issue persists for Beta 9862.

[2021-08-22 15:24] Saracchini commented on #75
Crash issue persists in Beta 9862 in DirectX11. Tested and crash happens consistently. It does not happen in DirectX12, but performance is too low to be considered "playable": Consistent and Regular stuttering, and it is not the "loading assets" stutter it normally has.  In comparison performance with Low/Medium settings in DirectX11 is actually great.

[2021-08-22 19:12] Saracchini commented on #75
With the current version of the game, one can play as follows:

 - add the "-NOTEXTURESTREAMING" parameter to the launch command options
 - That makes the Title screen to not lag as much
 - You have few seconds to start a new game (single player Resume only start by luck, but you can start a Couch Coop to bypass this, or start a Single Player new game ). The crash STILL will happen after few secon

[2021-08-23 13:12] halljames commented on #32
Still happening on the latest Beta Drivers 30.0.100.9862

Device : Onexplayer
Settings: Low
i7-1165G7
Windows 10 21H1 (May 2021 Update)

Game initially runs fine, but after a few seconds of moving around, game starts to stutter severely, and eventually crash
https://youtu.be/18nmIlEtHfk

[2021-08-24 14:13] Velocity535 commented on #32
I'm having the same issue.
GPD Win 3 1165G7
Doom Eternal Game Pass, Low Settings
Win 10 21H1, Intel 9862 Drivers (Happened on older drivers too, albeit a even a little worse)

Get about 20FPS for maybe 4 seconds, then it lags uncontrollably.

[2021-08-24 14:43] Saracchini commented on #74
After a more throughful test, I found out some biomes do show issues yet depending on the Graphics Effects option:
 - Volcanic biome (hellstorm weather). Graphics Effects: Low
 - Forest Autumn (deluge weather). Graphics Effects: Medium

 There's a heavy screen tinting or some visual artifacts. Usually it is easily solvable by going into the graphics options and switching between Low/Medium. issues

[2021-08-25 11:16] prudis opened #80 "No More Heroes & No More Heroes 2: Desperate Struggle - Really bad performance (5fps)"
#### Checklist [README]

- [X] Device is not undervolted nor overclocked.
- [X] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [X] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
1) No More Heroes
2) No More Heroes 2: Desperate Struggle
---
#### Game Platform [Required]
-

[2021-08-28 10:14] marph43 commented on #70
Good news: The memory leak has gone with the latest Intel driver (30.0.100.9862)! This makes the game much more playable. It does not crash any more after a short while and the fps drops are not as grave anymore. However the fps still frequently drop below 30. Setting all the graphical settings to the lowest does not fix it, so I recommend maxing them out (more or less) and limit the fps to 30 (wi

[2021-08-28 11:16] IGCIT commented on #70
since the issue has been fixed, closing this :)

[2021-08-28 11:16] #70 closed

[2021-08-28 11:59] Saracchini commented on #75
Workaround around the Title Screen crash.
By Setting the TDR time for a value above the default in Windows, allows the game to pre-compile the shaders without the engine crashing.
I followed these instructions (https://docs.microsoft.com/en-us/windows-hardware/drivers/display/tdr-registry-keys) and set TDR for 60 seconds, and waited the game to pre-compile all shaders. The Unreal Engine did not cr

[2021-08-28 12:35] Valkirie commented on #75
Brilliant. We should recommend this as a mandatory modification for any Intel based devices. Ended-up using the same workaround for It Takes Two and fixed crash issues (still would suffer from disconnection because of too long hanging time).

[2021-08-28 18:24] Saracchini commented on #75
After letting it compile all shaders, you can actually run it with quite nice performance and little sttuter in DX12.
In order to run in DX12 you must NOT run with "-NOTEXTURESTREAMING" launch parameter or you will run out of video memory. Launch with no command line parameters in DX12 mode after compiling shaders. Often it waits for a while with black screen but then it opens. Gameplay is super-s

[2021-09-01 15:50] PacoAvelar commented on #49
I just booted and played from New game up to the bunker (40 mins) on:
i7 1165G7
16 GB ram
Win 11
GPU Driver 9682
Screen resolution 720p,
In game settings to low

Steam version

@chibi4588 can you confirm that it is working ?

[2021-09-01 16:43] PacoAvelar commented on #45
I just booted and played from New game up to grown up character on:
i7 1165G7
16 GB ram
Win 11
GPU Driver 9862
Screen resolution 720p,
In game settings to low

It does take a lot to boot :
   - from start to intro screen ~5 minutes
    - checking for add ons +~1 minute
    - from main menu to in-game +~1 minute

   Total time from exe start to in game ~8 minutes

    @the-minister , @mva94
     ca

[2021-09-01 19:44] PacoAvelar commented on #40
This game works fine on the steam version
I just booted and played:
i7 1165G7
16 GB ram
Win 11
GPU Driver 9862
Screen resolution 720p,
In game settings to low

Not sure if the issue should be closed and keep track for the not-working games on windows store on a single issue instead of per-game

[2021-09-02 03:10] PacoAvelar commented on #64
I just booted and played from New game up to grown up character on:
i7 1165G7
16 GB ram
Win 11
GPU Driver 9862
Screen resolution 720p,
![image](https://user-images.githubusercontent.com/29181120/131775452-4923cc78-b4a7-4529-b442-0678eae3b7e0.png)

[2021-09-02 03:45] pacoa-kdbg opened #81 "just cause 4 - graphical issue"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Just Cause 4
---
#### Game Platform [Required]
- [x] Steam
- [ ] Origin
- [ ] Microsoft Store

[2021-09-02 17:54] pacoa-kdbg opened #82 "Detroit: Become Human - Crash at launch"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Detroit: Become Human (full and demo)
---
#### Game Platform [Required]
- [x] Steam
- [ ] Ori

[2021-09-04 03:14] PacoAvelar commented on #41
I just booted and played from New game up to the bunker (40 mins) on:
i7 1165G7
16 GB ram
Win 11
GPU Driver 9805
Screen resolution 720p,
Resolution scale -75%
In game settings to low

No red issues with DX12, performance ~28 fps average on the benchmark
DX11, performance of ~29 fps average on the benchmark

[2021-09-08 12:17] IGCIT opened #83 "Battlefield 4 random blackscreen in fullscreen mode"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://downloadcenter.intel.com/download/30381/Graphiques-Intel-Pilotes-DCH-Windows-10).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Battlefield 4

---
#### Game Platform [Required]
- [ ] Steam
- [x] Origin
- [ ] Microsoft Sto

[2021-09-11 10:22] Saracchini commented on #75
Tested with 9864 version. Title screen in DX12 now do not take some time to start after compiling shaders, which means the game starts immediately. Visual glitches still occur (same issue as MechWarrior 5), but in lesser scale. Crashes less often too.

[2021-09-11 10:24] Saracchini commented on #74
Issue persists with 9864 but in a less often. Sometimes the game show up correct graphics, sometimes it shows totally random artifacts. Effect can be reproduced by changing Graphics Effects quality. This issue seems quite common with latest DirectX12 Unreal Engine games.

[2021-09-15 15:42] remag1247 opened #84 "STATE OF DECAY 2"
---
#### Game / Application [Required]
State of Decay 2
---
#### Game Platform [Required]
- [X] Steam
- [] Origin
- [] Microsoft Store
- [] GOG Galaxy
- [] Ubisoft Connect
- [] Battle.net
- [] Epic Games
- [] Bethesda.net
- [] Other

---
#### Processor / Processor Number [Required]
I7 1165g7 i71160g7
---
#### GPU Driver Version [Required]
- [X] 30.0.100.9864 (*latest*)
- [X] 30.0.100.9862
- [X] 30

[2021-09-16 14:57] Valkirie commented on #16
Duplicate from #82, closing.

[2021-09-16 14:57] #16 closed

[2021-09-16 15:14] Valkirie commented on #49
@chibi4588 any update ? Can you confirm it's fixed, or not ?

[2021-09-16 15:15] Valkirie commented on #40
@hididi31 can you let us know if the issue still exists and your game platform (steam, other) ?

[2021-09-16 15:16] Valkirie commented on #47
@mva94 can you double check now ?

[2021-09-16 15:16] chibi4588 commented on #49
@Valkirie Apologies for the delayed reply.  I am out of country presently, without my unit to test.  I will reply once I am back home and update this bug.
Thanks for reaching out.

[2021-09-16 15:17] mva94 commented on #47
Will do

⁣Télécharger BlueMail pour Android ​

Le 16 sept. 2021 à 17:16, à 17:16, Lesueur Benjamin ***@***.***> a écrit:
***@***.*** can you double check now ?

[2021-09-16 20:58] PacoAvelar commented on #64
Issue still there on 9894

[2021-09-17 09:41] vumaquan commented on #40
The game crashes at launch with an error code “tryCreatingPipelineStateFromCache(pipelineStateDescnullCashedPro, plnOutPipelineState)’failed with ‘HR = 0x8007000e”

Gamepass version
intel lastest driver 9864 on oneXplayer

[2021-09-17 18:00] PacoAvelar commented on #40
@vumaquan can you test with 9894 (BETA) ?

I have no issues with the steam version of it

[2021-09-19 08:06] IGCIT opened #85 "Call of duty Vanguard not rendering"
#### Checklist [README]

- [x] Device is not undervolted nor overclocked.
- [x] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs).
- [x] Game is not cracked, modded and use the latest patch.

---
#### Game / Application [Required]
Call of duty Vanguard

---
#### Game Platform [Required]
- [ ] Steam
- [ ]

[2021-09-19 10:25] mva94 commented on #85
@IGCIT I'm going to send it right away to our intel discord group so they can acknowledge it right away .
Do you mind posting a few pics to speed up the process ?

[2021-09-23 18:12] Saracchini commented on #78
Release version do not crash anymore. Game runs very stable with 9864.
There are the same issues in [MechWarrior 5](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/74) and the Ascent, when you change resolution scale in-game. The solution is also the same as for these games: switch the graphic options until the problem fix itself. Issues are: blank/black screen , heavily ti

[2021-09-27 19:20] chibi4588 commented on #49
@Valkirie and @PacoAvelar
As of the latest driver, 30.0.100.9864... this issue seems to have been resolved.  I would say we can go ahead and close out this bug #49.
Thank you both very much for your diligence, and continued support of the community.
--Chibi

[2021-09-27 20:19] PacoAvelar commented on #64
still here
	Driver version:	30.0.100.9922

[2021-09-27 21:25] #49 closed

[2021-10-05 10:24] Risingdawn1 commented on #73
Could you test the following fix, as this seemed to improve performance for me on an 1165 and would help to isolate the issue:

"You can limit your CPU processor count by creating a user.cfg file in the game’s main folder and using these commands. The config below is for quad-cores with Hyper Threading (4 cores, 8 threads). You can change these values to your liking:"

Thread.ProcessorCount 4
Thre

[2021-10-05 10:47] Saracchini commented on #73
Tried the settings above. It does lower CPU usage but do not solve the stuttering, and using the exact same settings gives superior performance with 9466 drivers (43-45 fps) vs the latest beta 9894 (29-30 fps) in the same scene.
That is clearly a driver problem.

[2021-10-07 18:06] dmdelacy commented on #32
Is this only failing on a GPD device? Is the screen rotated? and do you use an app that creates a seperate displayable buffer to log framerates and things like that?

[2021-10-07 18:13] A-w-x commented on #32
yes, GPD devices, like most gaming UMPCs, if not all, have rotated screens

[2021-10-08 02:42] PacoAvelar commented on #32
I just tested with a GPD win 3 on windows 11 driver.
I dont I dont see any stutter like the mentioned above (even at 95-98C )

https://youtu.be/s_AhzMrZkL0

however, there are some glitches

[2021-10-08 03:32] Combine1196 opened #86 "Far Cry 6 Crash within 10-20 seconds, major graphical glitches"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Far Cry 6

### Game Platform [Required]

- [ ] Steam
- [ ] Origin
- [ ] Microsoft S

[2021-10-08 09:18] IGCIT opened #87 "Battlefield 2042 TDR crash"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Battlefield 2042

### Game Platform [Required]

- [ ] Steam
- [X] Origin
- [ ] Micr

[2021-10-08 18:47] dmdelacy commented on #32
Are you using a tool to measure fps?  Can you disable that? Seems possible that the overlay from that or from Steam might be contributing to the stutter  I dont have a GPD3 so am going to try it on a similar system

[2021-10-08 19:23] PacoAvelar commented on #32
I just disabled, rebooted to kill all overlay processes, launched the game and the same "freezes" happen

[2021-10-08 20:06] dmdelacy commented on #51
This is caused by the game using a UAV float format we dont support.  We have contacted the ISV to get support to see if the game can check Caps before UAV floats

[2021-10-09 05:53] pacoa-kdbg opened #88 "Grounded graphical glitch"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Grounded

### Game Platform [Required]

- [ ] Steam
- [ ] Origin
- [X] Microsoft St

[2021-10-12 02:22] PacoAvelar commented on #51
Is there a way to look if it is WA-nded on  mesa? As I dont see the issue either there nor on steam version, just game pass one

[2021-10-13 22:50] evang-x commented on #57
Hello,

Can you please provide information on which Forza Horizon and edition you are having issues with?

[2021-10-13 23:12] PacoAvelar commented on #57
Not sure about performance, but ln the Game pass edition I was able to reproduce the crash on the menu shen going to the settings

[2021-10-13 23:27] PacoAvelar commented on #57
Forza horizon is 4

[2021-10-17 18:14] TimoMueller commented on #61
Switched to Windows 11.
30.0.100.9894 and 30.0.100.9955 didn‘t fix this issue.

[2021-10-18 17:53] mva94 commented on #50
@bcysewsk steam version

[2021-10-18 18:04] Saracchini commented on #42
I have this game and just tested it with 9955, Windows 10, 21H1, Steam version.
It does hang for a bit in the intro screen but the game starts normally afterwards. No crashes or issues. Could play the game normally.
Note I have the TDR fix enabled.

[2021-10-20 17:35] Dev45689 commented on #22
They said it's mostly a bug ???

[2021-10-20 17:36] estebanr863 commented on #50
Hi all,

Just wanted to let you know that a possible fix for this issue was included in the latest driver version 30.0.100.9955 (https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html). I would appreciate if any of you guys can help us test this out. If you do, please do a clean install of the driver (https://www.intel.com/content/www/us/en/support/articles/

[2021-10-21 00:05] estebanr863 commented on #39
Hi all,

A similar issue (not limited to multiplayer) was reported internally, and I found out a possible fix was included in driver version 27.20.100.9466 and newer (https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html). I’ll appreciate it if you can check if the issue is resolved with the latest driver version (30.0.100.9955 as of writing this comment).

[2021-10-21 00:51] estebanr863 commented on #37
Hi all,

I would appreciate it if some of you can try to reproduce this issue with the latest driver 30.0.100.9955

[2021-10-21 01:04] estebanr863 commented on #68
Hi all,

We were able to reproduce this issue using the reported driver 27.20.100.9466. Then, we upgraded the driver to the latest 30.0.100.9955 (I always recommend doing a clean install https://www.intel.com/content/www/us/en/support/articles/000057389/graphics.html) and the issue is no longer present. Can you guys try this new driver and let me know?

[2021-10-21 21:10] PacoAvelar commented on #50
I tested the demo on steam using latest 30.0.100.9955

[2021-10-22 01:52] PacoAvelar commented on #65
I was not able to replicate this issue on
 GPD Win 3
  - i7 1165G7
  - 16GB
  - Windows 11
  - GPU Driver 30.0.100.9955

[2021-10-22 04:18] PacoAvelar commented on #54
Issue persist on driver 30.0.100.9955

[2021-10-29 19:57] Baboonfighter opened #89 "Disciples Liberation freezes/crashes constantly"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Disciples Liberation

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ]

[2021-10-29 22:12] evang-x commented on #73
Hello, I haven't been able to reproduce the performance issues/stuttering with driver 30.0.100.9684.

-Launched Game
-Selected Play Solo Mode
-Drove around and observed steady [40FPS].

**Game Settings**
Screen Resolution: 1280x720
Vertical Sync: Off
HDR Mode: Auto
Resolution Scale: 100.0%
Graphics Quality: Medium
TAA Enabled

Can you tell me if this is the correct settings? Thank you.

[2021-10-30 02:51] KaeAlSa commented on #75
I don't have any of these problems on 9955, but I've also got the texture detail set to low. Resolution scale set to 95. Display at 1920x1200 Fullscreen vsync off. I'm on an 1195.

[2021-10-30 07:51] Saracchini commented on #73
@evang-x
I'm currently running it at 720p with Low Quality Preset, with 80% resolution scale and High quality textures.
Actually changing the preset show no much change except by a fixed drop value in frame rate.
Running the game for a while shows that for a certain amount of time CPU usage us very high, which seems to be the reason of the stuttering. After approximately 2-3 minutes, CPU usage dro

[2021-10-30 07:55] Saracchini commented on #75
Which render are you using ? There are no graphic issues in DX11 (which is the default). That is a DX12 issue only.

[2021-10-30 14:31] KaeAlSa commented on #75
Yes. DX12.

![Screenshot (12)](https://user-images.githubusercontent.com/92998658/139537312-23e9403e-6671-42b3-89dd-2ab6e025cc0b.png)

[2021-10-30 15:02] KaeAlSa commented on #75
https://www.reddit.com/r/OneXPlayer/comments/qj37eh/the_ascent_running_dx12/?utm_medium=android_app&utm_source=share

[2021-10-30 15:55] Saracchini commented on #75
Just uploaded a video illustrating the issue.
Just to be sure. I did a clean driver install (using Intel instructions) and cleaned the Direct X driver cache. The game does start normally and you can play a while without issues. You can trigger it by doing as I do in the video or by switching levels taking the elevator. It sometimes also happens when you go back to the title screen,

https://vimeo.

[2021-10-30 16:12] KaeAlSa commented on #75
Yeah I haven't had that happen on my onexplayer. I'm not that far in the game but I have taken the elevator and changed the scale and gone back to the title screen.

[2021-10-30 16:21] Saracchini commented on #75
In previous drivers DX12 was much worse. In current versions it usually happens only in certain scene switchings.
For instance, I did not observed this issue in the intro part of the game (going to from-to DeepStink to Warrens rarely triggers it). Later in the game, going to the upper levels, it is more common. That problem do not happens until you switch certain scenes. The worst one is the top l

[2021-10-30 23:08] Dev45689 commented on #22
Anything new yet any updates

[2021-10-31 02:25] BreakPoints commented on #75
Certain effects in the game also trigger these issues, especially one enemy type where every time they attack the screen has a high chance to swap to the coloured overlays blinding you

[2021-10-31 03:09] KaeAlSa commented on #75
I'm still pretty early in the game. If you want to send me a save file at the end of the game I can test it if you'd like. I just have not seen those issues in my about 5.5 hours on it.

[2021-10-31 04:41] HenryQuan commented on #11
I also have similar issues. The game crashes quite randomly for me. Today, I tried it again using lastest Intel XE driver and it crashes within 5 minutes of my gameplay. However, sometimes, it works for hours.

[2021-10-31 08:56] Saracchini commented on #75
@KaeAlSa . I can send you my save. But the video I linked  showed how you can trigger the glitch at will at any section of the game. You are running which Windows (11 ? 10 21H1 ? something else ?)  and game version (Steam, Xbox Game Pass) in your device ?

[2021-11-01 16:17] DjXtom opened #90 "Marvel’s Guardians of The Galaxy Crash"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Marvel’s Guardians of The Galaxy

### Game Platform [Required]

- [X] Steam
- [ ] O

[2021-11-01 18:00] estebanr863 commented on #22
Still of the game developer side @Dev45689

[2021-11-01 19:00] craiggx commented on #83
Hi there. I have some questions about the above issue. Can you tell me the windows version you were running at the time you discovered this? You can see the current Windows version by opening command line and looking at the windows version at the top of the window.

Also, what was your device's resolution set to?

Finally, could you run dxdiag and attach the results to this issue? You can get to d

[2021-11-01 21:16] IGCIT commented on #83
windows version is reported in the issue, i don't remeber the exact version string, windows 10 21h1 + windows updates at the time of writing (mandadory, optional and quality)

the problem occurs on both internal and external display

720x1280 (rotated screen) (internal)
1920x1080 (external) (TV)

i did a new test just now, current env:

windows 10.0.19043.1320
driver 9955
[DxDiag.txt](https://gith

[2021-11-01 21:26] craiggx commented on #83
Thanks a lot for the info!

One more question: Have you only encountered this in multiplayer matches? Have you ever seen it in campaign or the training area?

[2021-11-01 21:28] IGCIT commented on #83
i've never played campaign or training :P
i'll test them

[2021-11-01 23:12] craiggx commented on #83
Also, when you're using an external display are both displays active or just one? Are you in extended display mode or duplicate?

[2021-11-02 00:35] ruineka commented on #90
This game does not work on my OneXPlayer using the Iris Xe Graphics as well, it says dx12 adapter not found. Tested using Windows 10 and using Proton on Pop 21.04 Linux.

[2021-11-02 08:12] IGCIT commented on #83
only external screen is active, windows saved my settings so when i connect the hdmi cable, it will automatically disable my internal screen

it happens with any resolution,if you switch, you get a black screen (internal and external)
the new resolution is being applied, but you cannot confirm the new setting because the screen is black.
if you are fast enough to go back to desk and focus the game

[2021-11-02 21:23] estebanr863 commented on #50
Hey @mva94, any updates?

[2021-11-02 22:58] estebanr863 commented on #36
Hi @hididi31, can you test this using driver 30.0.100.9955?

[2021-11-02 23:10] estebanr863 commented on #19
Hi @thealgorithmc64, can you try this using driver version 30.0.100.9955? https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html

[2021-11-02 23:58] estebanr863 commented on #68
@Rebusmind can you please test with driver version 30.0.100.9955?

[2021-11-02 23:59] estebanr863 commented on #42
@mva94 since both I and @Saracchini confirmed the issue is no longer happening on driver version 30.0.100.9955, can we close this issue?

[2021-11-03 00:03] estebanr863 commented on #31
Hi @poulan9, this issue was reported internally and a fix is in developmente. I'll let you know once this fix is included in a driver for you to test it.

[2021-11-03 00:04] estebanr863 commented on #61
Hi @TimoMueller, this issue was reported internally, and a fix is in development. I'll let you know once this fix is included in a driver for you to test it.

[2021-11-03 00:14] #42 closed

[2021-11-03 00:14] mva94 commented on #42
@estebanr863 done

[2021-11-03 00:16] mva94 commented on #50
@estebanr863 I indeed didn't see a crash after gaming for 30 minutes , cannot talk for the Microsoft version but steam version is now fixed .

Thanks for your great work!

[2021-11-03 00:16] #50 closed

[2021-11-03 00:33] poulan9 commented on #31
That's awesome news. thank you so much.
    On Wednesday, 3 November 2021, 00:03:30 GMT, Esteban ***@***.***> wrote:

Hi @poulan9, this issue was reported internally and a fix is in developmente. I'll let you know once this fix is included in a driver for you to test it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage no

[2021-11-03 18:02] PacoAvelarDiaz commented on #31
@estebanr863
Has this issue been replicated too  ?
https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/81

It is same game, but graphical issue

[2021-11-03 21:17] craiggx commented on #83
I've got another question: Were you using the docking station to connect to your external display?

[2021-11-03 22:16] estebanr863 commented on #37
Hi, I just tried this myself and was able to play without any issues. @hididi31 can you please try it?

[2021-11-03 22:29] estebanr863 commented on #84
I just tried this on driver 30.0.100.9955 and couldn't reproduce either. Loaded the game fine several times. Can you test it with this driver version @remag1247?

[2021-11-03 23:30] mva94 commented on #37
@estebanr863 I'm going to take your words and @PacoAvelar since you both tested it.
@hididi31 isn't part of this community anymore and hasn't been active in a while

[2021-11-03 23:30] estebanr863 commented on #11
HI all,

I tried to reproduce this on a i7-1165G7+16GB of RAM driver version 30.0.100.9955 without any luck. Tried several times and the cutscenes never crashed my game.

@HenryQuan can you try a driver [clean install](https://www.intel.com/content/www/us/en/support/articles/000057389/graphics.html) of driver version 30.0.100.9955 and try again? Also, please run this [tool](https://www.intel.com/c

[2021-11-03 23:30] #37 closed

[2021-11-04 00:26] craiggx commented on #83
Also, if you could provide a video of the issue happening, that would really help us to reproduce it and work on a fix.

[2021-11-04 10:23] poulan9 commented on #31
That one I haven't noticed. Do you have an idea if the fix for my issue will be in the next driver release or a subsequent one?
Thanks
    On Wednesday, 3 November 2021, 18:02:34 GMT, PacoAvelarDiaz ***@***.***> wrote:

@estebanr863
Has this issue been replicated too ?
#81

It is same game, but graphical issue

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2021-11-04 13:43] Rebusmind commented on #68
I tested the game (character creation, gameplay, cutscenes) and it ran perfectly fine, so I'll close this issue.

[2021-11-04 13:43] #68 closed

[2021-11-04 14:46] IGCIT commented on #83
no, https://us.lemorele.com/products/5-in-1-usb-c-hub-tc24upgraded-of-tc15

well, the bug breaks recording apps too and i don't have a camera, when i switch resolution the screen goes black, but when i press windows button it comes back (but not obs, which still shows a black screen)

this is on internal screen

https://user-images.githubusercontent.com/76787191/140327325-a8bd5197-feb1-4343-a7cf-9

[2021-11-04 15:37] estebanr863 commented on #65
I played 30minutes on a i7 1165G7 + 16GB of RAM on driver 30.0.100.9955 and had no issues. @nscreated can you test with this driver version?

[2021-11-04 15:54] IGCIT opened #91 "Tom Clancy's Ghost Recon Breakpoint: Vulkan crash and Dx11 glitches"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Tom Clancy's Ghost Recon Breakpoint

### Game Platform [Required]

- [ ] Steam
- [

[2021-11-04 16:13] estebanr863 commented on #31
Not yet, there are several other issues in the queue that one. I'll comment on the [#81](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/81) once we get to it.

[2021-11-04 18:33] poulan9 commented on #31
#81 isn't affecting me, I was referring to the issue that I raised. Do you know where that is in the queue?
Regards

    On Thursday, 4 November 2021, 16:13:30 GMT, Esteban ***@***.***> wrote:

Not yet, there are several other issues in the queue that one. I'll comment on the #81 once we get to it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHu

[2021-11-05 21:22] AlexBelyaninov opened #92 "Forza Horizon 5 crashes and glitches"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Forza Horizon 5

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [X] Micro

[2021-11-05 21:29] mva94 commented on #92
@AlexBelyaninov do you have some pictures to speed up the process?

[2021-11-05 21:41] AlexBelyaninov commented on #92
issues 1 and 2 https://photos.app.goo.gl/1r6Nfkcs2UeZJPiu8
issue 3 https://www.youtube.com/watch?v=EajmGr4FPrw

[2021-11-06 05:24] HenryQuan commented on #11
I have reinstalled but the issue is not fixed. The game doesn't crash during cutscenes but after it (about 10s). It seems that this is by chance and after a few cutscenes, the game will eventually crash. Maybe, it is due to a series of events but I am not sure which event triggers the crash. According to the event, it is coming from d3d11.dll.

[ssu-results.txt](https://github.com/IGCIT/Intel-GPU-

[2021-11-09 17:48] estebanr863 commented on #45
Hi @mva94! We are looking at the other reported issues (white screen when facing a light source and the long load time). However, I'll appreciate more info on the crash. Does it happen at launch or during gameplay?

[2021-11-09 18:01] mva94 commented on #45
@estebanr863 hey !
I'm already half way through the game, that's when I have it happening pretty much randomly, glitches happen a lot when your camera is facing towards the sun/sky

[2021-11-09 20:41] mva94 opened #93 "Call of duty: Modern Warfare stutters / crash"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Call of duty modern warfare

### Game Platform [Required]

- [ ] Steam
- [ ] Origin

[2021-11-09 20:45] mva94 commented on #93
![20211109_214417](https://user-images.githubusercontent.com/78859716/141001716-e26976e2-232f-4264-b16c-61c2fefd5058.jpg)
![20211109_214424](https://user-images.githubusercontent.com/78859716/141001731-32d1b7a8-e74f-41db-9300-7a249d857671.jpg)
![Uploading 20211109_214431.jpg…]()

[2021-11-09 20:55] mva94 commented on #9
@IGCIT is that still a thing on driver 9955?

[2021-11-09 20:57] mva94 commented on #41
@PacoAvelar so would you say issues are solved ? Need to test this one

[2021-11-09 21:47] IGCIT commented on #9
yes

[2021-11-09 22:27] craiggx commented on #63
Hi there, I have some questions about the black screen issue:
Does this happen when you attach an external display to your GPD WIN3?
If so, what adapter are you using to connect to your external display?
Does the black screen happen when you're using only the GPD Win3's display with nothing else connected?

[2021-11-10 00:15] Dev45689 commented on #22
Have u heard anything from the developers or are they still being lazy

[2021-11-10 06:42] Saracchini commented on #63
@craiggx
No external screen plugged in at all. It is using the Win3 screen solely.
I disabled "Fullscreen optimizations" option in the executable Compatibility Tab since otherwise the game is very blurry. Black screen happens if you set the game to use Fullscreen (not borderless) in game (from other mode like Windowed/Borderless), and open it with this configuration saved. It will be a black scree

[2021-11-10 20:54] mva94 opened #94 "Red dead redemption 2 getting weird glitches"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Red dead redemption 2

### Game Platform [Required]

- [ ] Steam
- [ ] Origin
- [ ]

[2021-11-11 16:23] estebanr863 commented on #64
Hi all,

We were able to reproduce the game crash issue reported by @KaeAISa and it is now in our driver development team’s queue.

Regarding the graphics corruption issue with the grass “shooting up to the sky” reported by @PacoAvelar. This issue was previously reported internally, and a possible fix has now been developed. We expect this fix to be included in the next driver release. I’ll keep y

[2021-11-11 16:31] #18 closed

[2021-11-11 16:36] KaeAlSa commented on #64
@estebanr863 great thank you!

[2021-11-11 16:42] estebanr863 commented on #64
@PacoAvelar the new driver is now live https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html. This driver includes the possible fix for the issue you reported. Please help us test it and let us know.

[2021-11-11 16:46] estebanr863 commented on #32
Hi all,

The new driver version 30.0.101.1069 can now be downloaded at https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html.

This driver includes the possible fix for the performance issue reported. Please help us test it and let us know.

[2021-11-11 16:48] estebanr863 commented on #23
Hi all,

The new driver version 30.0.101.1069 can now be downloaded at https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html.

This driver includes the possible fix for the performance issue reported. Please help us test it and let us know.

[2021-11-11 16:52] estebanr863 commented on #57
Hi all,

The new driver version 30.0.101.1069 can now be downloaded at https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html.

This driver includes the possible fix for both the performance issue and the game crash reported. Please help us test it and let us know.

[2021-11-11 17:01] estebanr863 commented on #83
Hi @IGCIT,

We were not able to reproduce this issue without the specific docking station you are using. I should mention that we cannot guarantee that every docking station on the market will work correctly, since every manufacturer designs their products differently.

This specific issue can’t be reproduced when using a display connected directly to an Intel system and so, this issue falls out o

[2021-11-11 17:04] estebanr863 commented on #36
Hi @mva94, you mentioned @hididi31 has not been active in several months. Been this so, can we close this issue since it cannot be reproduced with our latest drivers?

[2021-11-11 17:04] estebanr863 commented on #19
Hi @thealgorithmc64, did you had a chance to test it?

[2021-11-11 17:05] #36 closed

[2021-11-11 17:07] thealgorithmc64 commented on #18
This game has been fixed in recent driver. I tested it on latest as of now

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: IGCIT ***@***.***>
Sent: Thursday, November 11, 2021 4:32:03 PM
To: IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT ***@***.***>
Cc: thealgorithmc64 ***@***.***>; Mention ***@***.***>
Subject: Re: [IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT]

[2021-11-11 17:07] estebanr863 commented on #64
@ KaeAlSa, just to set the correct expectations, our development team has a very large queue of issue to work on. So, this fix could take from 3 to 6 month to be included in a driver release.

[2021-11-11 17:10] mva94 commented on #18
@thealgorithmc64 happy to close it then, let me know if you see regression or whatsoever with newer drivers as we can always reopen it

[2021-11-11 17:19] estebanr863 commented on #85
Hi all,

This issue was reported internally and is already been worked on by our development team. I’ll keep you posted on when this is included in a driver release.

[2021-11-11 17:26] estebanr863 commented on #34
Hi @IBJamon,

This issue was reported internally and is now on our driver development team’s queue. However, just to set the right expectations, given the current load on the dev team, this fix could take between 3 to 6 months to be included in a driver release.

[2021-11-11 17:29] estebanr863 commented on #40
Hi @vumaquan ,

We were able to reproduce the crash on launch for the GamePass version and this issue is now on our driver development team’s queue. However, just to set the right expectations, given the current load on the dev team, this fix could take between 3 to 6 months to be included in a driver release.

[2021-11-11 17:40] estebanr863 commented on #47
Hi @PacoAvelar,

This graphics corruption issue was reported internally and is now on our driver development team’s queue. However, just to set the right expectations, given the current load on the dev team, this fix could take between 3 to 6 months to be included in a driver release.

[2021-11-11 17:41] KaeAlSa commented on #64
@estebanr863 I completely understand, it's nice to have it on the list at all. I can wait. I did try the new version of the driver and obviously the crash still happens. I appreciate you checking it out.

[2021-11-11 17:43] Saracchini commented on #57
Tested 1069.
Managed to go through the entire tunning screen and options and so far I had no crashes.  Did a 20 minutes test going though a variety of menus and options that previously were very unstable and did not had crashes of any sort.
I did not see loss of performance so far too.
I'll report if I see further issues.

[2021-11-11 17:45] estebanr863 commented on #65
Hi @nscreated. Did you had a chance to try this with the latest drivers?

[2021-11-11 17:46] estebanr863 commented on #84
Hi @remag1247. Did you had a chance to test this with the latest drivers?

[2021-11-11 17:46] Saracchini commented on #75
Graphic Issues persist with latest 1069 driver.

[2021-11-11 17:46] Saracchini commented on #74
Graphic Issues persist with latest 1069 driver.

[2021-11-11 17:47] Saracchini commented on #78
Graphic Issues persist with latest 1069 driver.
Some graphic glitches (colored squares on button graphics, etc) seems to be slightly worse. Game is still playable.

[2021-11-11 17:54] IGCIT commented on #83
ok, thanks
probably specific to gpd win 3 internal screen :\

[2021-11-11 17:54] #83 closed

[2021-11-11 18:58] mva94 commented on #23
@estebanr863 as far as I can tell the game is definitely fixed,  I am going going to try a bit more in depth as I a few stutters, didn't have a very stable WiFi that's why I wanna double check

[2021-11-11 19:10] #23 closed

[2021-11-11 22:22] Saracchini commented on #57
Ran for almost 3 hours in almost one sitting(never it happened before !). No crashes of any sort. The only visible issue I could find is black car logos in certain occasions. Besides that performance is still good and very stable !

[2021-11-11 22:35] mva94 commented on #38
@Saracchini let's wait for intel to see if they can reproduce it

[2021-11-11 22:58] halljames commented on #57
So, my official Forza Horizon 4 testing with intel drivers 1069
Time played in total : 4 hours
Number of times oxp put into standby, and resumed while game running : 2
Times Battery warning appeared : 1
Times entered settings menu to tweak display settings : 2
Times entered game menu and map : 5
FPS at 1440 x 900 and Medium Dynamic Settings : 50 - 60
Number of crashes : 0

Test still ongoing, very

[2021-11-11 23:02] mva94 commented on #57
@halljames appreciate it, will still wait a day or so before closing the issue to make sure nobody raises any new/other issues

[2021-11-11 23:23] mva94 opened #95 "Star wars : the fallen order stutters and bad performances"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Star wars: the fallen order

### Game Platform [Required]

- [ ] Steam
- [X] Origin

[2021-11-12 01:16] beenees opened #96 "Watch Dogs Crashes on 1069"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Wactch Dogs

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Microsoft

[2021-11-12 09:25] Saracchini commented on #95
I have this game installed, and tried it with either DX11 and DX12 mode with latest drivers (GPD Win3, stock TDP, power balance in windows all way to left , resolution 720p). I experienced no heavy stutter or issues in the game intro. There's a slight stutter in DX11 in the begining of the  Lucrehulk class ship scene, but I did not see it in DX12.
Settings where most of options in medium, 30 fps l

[2021-11-12 09:39] mva94 commented on #95
@Saracchini might be better with dx12 but game isn't meant to run with it,  was there any issues?
I'm going to make a video as it is quite obvious, I'm already 4-5 hours away from the beginning of the gane

[2021-11-12 10:12] Saracchini commented on #95
I see no issues with DX12, besides the Origin overlay not working.  I see less sttuter and  a bit better performance with DX12. I did not see any game-breaking issues in the intro with either DX11 or DX12. I can try to run with unlocked frames to see if it is more evident stutter. Perhaps the issue is in a point further in the game ? Unfortunately, I did not play the game that much to see if there

[2021-11-12 10:19] mva94 commented on #95
@Saracchini yes try to reach higher fps to see ,I'll post my save game for u to try it

[2021-11-12 10:55] Saracchini commented on #95
Performance is lower in DX11 (30fps mostly, dips to 25-27 in cluttered scenes, max 40-50) but I did not saw in the intro any gamebreaking stutter. If needed please send me later the save file.

[2021-11-12 11:30] Saracchini commented on #57
Managed to reproduce the black borders. The issues do not show in Photo mode, but do show in free-roaming. Specially if the car is covered on decals.

Photo mode (how logos are supposed to be):
![forzaok2](https://user-images.githubusercontent.com/18572281/141460187-d511024a-3283-4848-b6e0-50976ed6d181.png)
![forzaok3](https://user-images.githubusercontent.com/18572281/141460196-d571c82e-0c50-4ea4

[2021-11-12 11:45] hididi31 commented on #38
Hello , sorry don t have any device with tiger lake now. Change it à few week ago

Télécharger Outlook pour Android<https://aka.ms/AAb9ysg>
________________________________
From: mva94 ***@***.***>
Sent: Thursday, November 11, 2021 11:35:33 PM
To: IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT ***@***.***>
Cc: hididi31 ***@***.***>; Mention ***@***.***>
Subject: Re: [IGCIT/Intel-GPU-Community-Issue

[2021-11-12 18:26] IGCIT commented on #32
i'm finally able to progress further in the game, it is no longer running at 2fps on my device
a few drops still remain, but lowest is 28 now

i'll keep this open for 1-2 days and i'll play the game some more tomorrow.
if no new issues are found, this will be closed :)

[2021-11-13 00:12] PacoAvelar commented on #64
Got a different error this time with latest driver, I am trying to get to the same area that was always doing graphical glitches
https://youtu.be/di1uhkgbsl8

[2021-11-13 00:20] Bryce-7995 commented on #22
Last update I received was this may take time, the developer was focused on the title that was just released but should have more resources free after launch to put more attention on this. Hopefully we see progress from them soon.

[2021-11-13 00:23] Bryce-7995 commented on #57
@Saracchini @mva94 Looks like the fix is holding for crash and poor perf. We should close this out then. Is there an issue opened for the black border? I'd suggest do a search and if not entered already please do so. Thanks for all the effort folks! Love that we're getting these issues closed out!

[2021-11-13 00:34] PacoAvelar commented on #64
After that crash, game gets playable with no graphical glitches
![DS_New](https://user-images.githubusercontent.com/29181120/141598477-545c33cd-2c3e-4ef1-bb2c-d4d77ed80fb7.png)
s

[2021-11-13 00:51] pacoa-kdbg opened #97 "Horizon Zero Dawn - Light issue"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Horizon Zero Dawn

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Mic

[2021-11-13 03:10] loktar00 commented on #87
Doing the same with the release vs, and the recent updated drivers release 30.0.101.1069

[2021-11-13 05:25] KaeAlSa commented on #75
I'm still not seeing them on my OXP. I changed my resolution scaler down all the way and up all the way and several other spots in-between. Besides some minor frame drops when I first get out of the menu. And I'm on 1069 now but it was the same for me on the last drivers.

Sorry, I didn't see your questions when you originally posted your last response @Saracchini .

I'm on W11 home 21H2 Steam ver

[2021-11-13 08:44] #57 closed

[2021-11-13 09:37] Saracchini commented on #75
@KaeAlSa . Which version are you running ? Game pass or Steam ?

[2021-11-13 14:50] KaeAlSa commented on #75
@Saracchini Steam. Latest updated version.

[2021-11-13 17:58] #32 closed

[2021-11-14 17:21] Saracchini commented on #75
Which means we are running exactly the same version. The difference is in the OS (I'm in Win10 , latest version 21H2, I think...). Other user from the Win3 discord also reproduced the same issue with DX12.  I'll give a look if disabling all the GPD software, in order to check if they could be the reason (kind of doubt but doest hurt to try).
Very strange because as far I know the OXP and Win3 are

[2021-11-15 08:21] Saracchini opened #98 "Forza Horizon 4 - Black borders around logos and decals"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Forza Horizon 4

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Micro

[2021-11-16 21:43] thealgorithmc64 commented on #18
Apologies.  I had tested it on two laptops with tigerlake chipsets (i7 1165g7 and i5 1135g7) and these worked fine in the latest driver.. However upon testing it on the win3, there is still the slowdown issue (though no more purple flickering).

Could be resolution/portrait oriented issue? though on icelake and win max it works fine

[2021-11-16 21:47] thealgorithmc64 commented on #92
On the latest driver i am having the following issues (tested on three tigerlake devices including the win3)

If settings other than very low are used,  eventually the screen will start to strobe purple/green colors and then colored tiling overlays cover most of the display.

[2021-11-16 21:48] AlexBelyaninov commented on #92
This is Lens Effects. Keep them disabled and you can go up the settings

[2021-11-16 22:14] estebanr863 commented on #45
Hi @mva94, can you provide your save files so we can try and reproducing the issue?

[2021-11-16 22:17] mva94 commented on #45
@estebanr863 crashes are gone with the latest drivers, I've player two more hours today.
Only issue left is the light issue

[2021-11-16 22:50] #45 closed

[2021-11-17 09:17] mva94 opened #99 "Halo : Infinite flickering texture issues"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Halo infinite

### Game Platform [Required]

- [ ] Steam
- [ ] Origin
- [X] Microso

[2021-11-17 09:23] #93 closed

[2021-11-17 10:21] IGCIT commented on #87
@loktar00 can you try with latest driver 1121?
https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs

[2021-11-17 11:41] KaeAlSa commented on #99
I have the same problem. Same device. But I've also tried on the 1121 beta driver and my game is from Steam.

[2021-11-17 17:07] Saracchini commented on #78
Graphic Issues persists with latest 1121 driver.

[2021-11-17 17:08] Saracchini commented on #75
Graphic Issues persists with latest 1121 driver.

[2021-11-17 17:08] Saracchini commented on #74
Graphic Issues persists with latest 1121 driver.

[2021-11-17 17:08] Saracchini commented on #73
Graphic Issues persists with latest 1121 driver.

[2021-11-17 18:37] Hyatice opened #100 "Non-Game: External Monitors "Inactive" despite being detected in Device Manager on 1121"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

Windows 10

### Processor / Processor Number [Required]

1180G7

### GPU Driver Version [Required]

- [X] 30.0.101.112

[2021-11-17 18:50] TakuCED opened #101 "FINAL FANTASY X/X-2 HD Remaster - Texture & Crash"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

FINAL FANTASY X/X-2 HD Remaster

### Game Platform [Required]

- [X] Steam
- [ ] Or

[2021-11-17 18:55] KaeAlSa commented on #75
@Saracchini I asked someone else to test on a OneXPlayer and they were not able to get the graphical glitches.

[2021-11-17 19:55] Hyatice commented on #100
Edited the original post with new information/troubleshooting steps taken: Specific monitor, specific steps to resolve and replicate issue. The issue also occurs in 1069; and my initial thought that I had been on 1069 prior to upgrading to 1121 was false.

[2021-11-17 21:06] mva94 opened #102 "Assassin's creed origin bad performances"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Assassin's creed origin

### Game Platform [Required]

- [ ] Steam
- [X] Origin
- [

[2021-11-17 21:13] Hyatice opened #103 "Zoom Crash when Screen Sharing starts"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [ ] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Application is not cracked, modded and use the latest patch

### Application [Required]

Zoom

### Processor / Processor Number [Required]

1180G7

### GPU Driver Version [

[2021-11-17 22:08] Morph1984 opened #104 "Vulkan format request: VK_FORMAT_S8_UINT"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Application is not cracked, modded and use the latest patch

### Application [Required]

yuzu

### Processor / Processor Number [Required]

All processors with Gen9, 9.5, G

[2021-11-18 09:31] Saracchini commented on #75
There are some differences with the gamepass version (some people mentioning ray-tracing, DLSS, and other Dx12-only features  not working) and the Steam one.
It is very strange that issue is happening in GPD Win3 devices but not OneXPlayer. My device is stock as it can be (replaced SSD and cloned original install).

[2021-11-18 19:05] estebanr863 commented on #65
Hi @mva94 and @IGCIT can any of you help and try this with the latest driver?

[2021-11-18 19:05] estebanr863 commented on #84
Hi @mva94 and @IGCIT can any of you help and try this with the latest driver?

[2021-11-19 20:30] BreakPoints commented on #75
I still get the issue on my OneXPlayer on the latest drivers and game version

[2021-11-19 20:48] #87 closed

[2021-11-21 20:42] IGCIT commented on #84
unfortunately i don't own the game

[2021-11-22 17:51] remag1247 commented on #84
sorry for late reply I don't pay attention to this but I will reinstall the game and try it out again on newer drivers

[2021-11-22 18:34] estebanr863 commented on #19
Hi @mva94 and @IGCIT, if any of you own this game, can help and try this with the latest driver?

[2021-11-22 18:38] estebanr863 commented on #75
Hi all,

We were able to reproduce both issues (graphical corruption and crash) and they have now been moved to our driver development team. Please do note that it might take from 3 to 6 months for a possible fix to be included in a driver release.

[2021-11-22 18:39] estebanr863 commented on #78
Hi all,

We were able to reproduce the graphical corruption and they have now been moved the issue to our driver development team. Please do note that it might take from 3 to 6 months for a possible fix to be included in a driver release.

[2021-11-22 18:47] remag1247 commented on #84
@estebanr863  I tried drivers 9955 and 1121 and both had the same issue still stuck on a loading screen that eventually turns black and freezes and then crashes.  I'm halfway through the story if that helps. Maybe u could recreate it by finding a save file that puts u somewhere in the middle of the campaign?

[2021-11-22 19:01] kalenjohnson opened #105 "Trails of Cold Steel III - crash/freeze when fishing with MSAA"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

The Legend of Heroes: Trails of Cold Steel III

### Game Platform [Required]

- [X]

[2021-11-22 22:33] estebanr863 commented on #84
@remag1247 can you please provide your save game so I can try to replicate the issue at the same point of the game you are at?

[2021-11-22 23:37] pacoa-kdbg commented on #19
I tested with latest stable and still happening

[2021-11-23 17:04] estebanr863 commented on #99
Hi @mva and @KaeAlSa, can you guys please run this app and attach the resulting file? https://www.intel.com/content/www/us/en/support/articles/000057926/network-and-io.html

[2021-11-23 17:38] estebanr863 commented on #19
Hi @pacoa-kdbg,

Can you please:

1. run the commands below
2. restart your system
3. repro the issue
4. attach the resulting file located at C:\AppCrashDumps

reg add "HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\Windows Error Reporting" /v "Disabled" /t REG_DWORD /d "0x1" /f
reg add "HKEY_CURRENT_USER\Software\Microsoft\Windows\Windows Error Reporting" /v "Disabled" /t REG_DWORD /d "0x1" /f
reg

[2021-11-23 17:53] KaeAlSa commented on #99
[Intel log.txt](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/files/7590137/Intel.log.txt)

[2021-11-23 22:28] estebanr863 commented on #74
Hi @Saracchini, can you please help us perform a quick test and press _Alt-Enter_ when you get the issue to go back to the desktop, and then press those same keys again to return to the game?

[2021-11-24 09:47] Saracchini commented on #74
Certainly.
I did the test and when switching between screen modes with ALT+ENTER, the issue is gone, and returns when returning to fullscreen bordererless. Curiously, If you  switch from a good state in fullscreen borderless, the windowed one will be bugged instead, and return to a good state when you switch back.

I also have a seed for a map that the issue happens very consistently: MDMxNjY5ODQw

[2021-11-24 09:54] Saracchini commented on #75
I decided to do the same test @estebanr863 requested me for [Mechwarrior5 issue](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/issues/74#issuecomment-977708660). A very similar behavior happens, so I'm reporting here.

When switching between screen modes with ALT+ENTER, the issue can be  gone or a  different glitched effect happens, as if switching resolution scales. Quite often

[2021-12-02 00:16] pacoa-kdbg commented on #97
Latest beta (1121) doesnt show up this issue.

Issue can be closed

[2021-12-02 10:31] #97 closed

[2021-12-02 17:22] evang-x commented on #92
Hello @AlexBelyaninov can you please test latest driver version 30.0.101.1069 to see if crash still occurs?

I'm also having trouble reproducing the lens effect issue. I've seen it appear before but it has been sporadic for me. Can I get a SS of the graphic and video settings you are using? Thank you.

[2021-12-02 18:39] estebanr863 commented on #98
Hi @Saracchini, we were able to reproduce the issue and escalate it ot our driver development team. I'll let you know when the possible fix is included in a driver release.

[2021-12-02 21:47] estebanr863 commented on #19
Hi @pacoa-kdbg,

In order to send us bigger files, please download the FTP client of your choice and configure it as follow:

Username: tmp02761
Password: IGC1Tp@ssw0rd
Host Name: secureftp.intel.com
Server/Protocol Type: FTP/SSL (AUTH_SSL, AUTH_TLS, or Explicit SSL/TLS)
Mode: Passive
Port: 21

[2021-12-03 20:54] estebanr863 commented on #40
Hi @vumaquan, this issue is no longer happening on our lab with driver version 30.0.101.1069. Can you please test with this version?

[2021-12-05 03:57] vumaquan commented on #40
Nice! But I don’t have any devices with intel at that moment. Just sold all and purchased AMD version instead
Thanks for your info anyway! Appreciate that!

[2021-12-05 11:45] IGCIT commented on #40
closing this then, since both @hididi31 and @vumaquan no longer have an intel gpu and the issue appears to be fixed.

[2021-12-06 20:42] estebanr863 commented on #74
Hi @Saracchini, we have confirmed that the root cause of this issue is the same as the one on #78. The fix is in development, so I'll let you know when it is included in a driver release

[2021-12-07 17:48] estebanr863 commented on #65
Hi @mva94 and @IGCIT, since no one seem to be able to repro this issue, and it is not happening on our side with the latest drivers, can we close this?

[2021-12-07 17:50] estebanr863 commented on #84
Hi, @remag1247 can you please provide your save game so I can try to replicate the issue at the same point of the game you are at?

[2021-12-07 20:13] #65 closed

[2021-12-08 22:31] estebanr863 commented on #9
Hi @IGCIT,

During our debugging process, we found the root cause of this issue to be the Denuvo DRM causing the game to crash. The fix for this needs to come from the game developer. But been this an older game, it’s very unlikely the developer will invest time on this.

[2021-12-09 08:27] IGCIT commented on #9
thanks for the update.

i'll leave this here, as a note, for those like me, who bought the game and cannot get a refound:

this game can be played on Intel GPUs in Linux with Lutris (tested on lutris wine 5.7)

[2021-12-09 08:27] #9 closed

[2021-12-09 18:25] estebanr863 commented on #53
Hi @kurikomoe,

Can you please let us know what game version was this issues observed on?

[2021-12-10 14:28] remag1247 commented on #84
@estebanr863 https://drive.google.com/file/d/1dFERGbrUMyCT9YB-RiJ2W04avRu2NHw2/view?usp=sharing

[2021-12-10 15:39] estebanr863 commented on #13
Hi @Valkirie,

Starting with TigerLake, the FIVR has changed, with several power gates now moved to the SoC. This means that the developer of Throttlestop or any other similar application will need to change their code to adapt to the new arquitecture.

[2021-12-10 15:43] estebanr863 commented on #10
Hi Valkirie,

Please open a support ticket with Intel at [https://www.intel.com/content/www/us/en/support/contact-intel.html](https://www.intel.com/content/www/us/en/support/contact-intel.html), so your issue can be routed to the correct team supporting developers.

[2021-12-10 15:44] estebanr863 commented on #104
Hi @Morph1984,

Please open a support ticket with [Intel at https://www.intel.com/content/www/us/en/support/contact-intel.html](Intel at https://www.intel.com/content/www/us/en/support/contact-intel.html), so your issue can be routed to the correct team supporting developers.

[2021-12-10 15:47] estebanr863 commented on #44
Hi @kvark,

Please open a support ticket with Intel at [https://www.intel.com/content/www/us/en/support/contact-intel.html](https://www.intel.com/content/www/us/en/support/contact-intel.html), so your issue can be routed to the correct team supporting developers.

[2021-12-12 15:02] beenees commented on #94
getting visual glitch during rain and snow

[2021-12-13 16:42] kvark commented on #44
Well, DX12 is no longer available on this HW.

[2021-12-13 16:42] #44 closed

[2021-12-13 21:08] EvilMath commented on #99
[output.txt](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/files/7706984/output.txt)

[2021-12-14 23:29] craiggx commented on #77
Hi there,

We're looking at your issue and we could use some more details about the system you found this on.

If you could attach a dxdiag, that would be most useful.

To do this:
type "dxdiag" on the bottom search bar on your desktop or press the windows key and type "dxdiag".
When you run it, it will generate a report.
Click Save all information to save into a txt file and attach it to this iss

[2021-12-15 23:50] estebanr863 commented on #103
Hi @Hyatice,

I tried to replicate this issue on a i7-1165G7 without success. Can you please install the latest drivers and try again?

[2021-12-16 07:51] IGCIT commented on #80
a user tested these on latest driver, performance fixed on 1191.

[2021-12-16 07:51] #80 closed

[2021-12-16 14:48] Hyatice commented on #100
Hey Esteban - It looks like the 1191 driver resolved this issue!

I'll test out my other Zoom whenever I can and see if that is also resolved.

On Fri, Dec 10, 2021 at 10:46 AM Esteban ***@***.***> wrote:

[2021-12-16 20:33] craiggx commented on #77
Hi Valkyrie,

We're still looking at the crash issue on It Takes Two. Were you able to grab the dxdiag information?

[2021-12-16 20:40] #100 closed

[2021-12-16 21:22] TakuCED commented on #101
Crash random with latest version 1191

[2021-12-17 19:33] Risingdawn1 opened #106 "Final Fantasy VII Remake Intergrade"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Final Fantasy VII Remake Intergrade

### Game Platform [Required]

- [ ] Steam
- [

[2021-12-20 18:23] estebanr863 commented on #77
Hi @Valkirie, can you please test this with the [latest driver version](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html)?

[2021-12-22 00:43] hoangnguyen1979 commented on #84
@remag1247 The file that you shared does not have the saved game data. Can you navigate to %localappdata%\StateOfDecay2 directory, zip up the Saved folder and reshared?

[2021-12-22 01:11] KaeAlSa commented on #90
Same issue in my onexplayer. Latest version of windows 10 and the new 1191 driver tested.

[2021-12-22 01:12] KaeAlSa commented on #64
I am no longer crashing while using tools on the latest 1191 driver!

[2021-12-22 01:43] kyh96403 opened #107 "Black screen issue when using "Disable full screen optimization" and "Full screen""
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Most Game

### Game Platform [Required]

- [X] Steam
- [X] Origin
- [X] Microsoft S

[2021-12-22 10:01] IGCIT commented on #107
can you please provide more information?
https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/How-to-generate-Intel-System-Support-Utility-report

also specify which games, or at least some of them, that are having this issue.

thanks

[2021-12-22 12:24] remag1247 commented on #84
@hoangnguyen1979 https://drive.google.com/file/d/1Qfk5sq993vu7FFvDmyAtO12e7_AqCxrA/view?usp=sharing

[2021-12-22 15:26] Saracchini opened #108 "Forza Horizon 4: Severe slow down/performance regression with latest stable drivers."
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Forza Horizon 4

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Micro

[2021-12-22 18:52] estebanr863 commented on #69
Hi @rabbit0864,

We have found the root cause of this issue to be related to the [OpenSSL* SHA Crash Bug](https://www.intel.com/content/www/us/en/developer/articles/troubleshooting/openssl-sha-crash-bug-requires-application-update.html). This must be fixed by the game developer, but a workarround you can use is described in the link above:

Short-Term Workaround
This is most useful for testing or

[2021-12-22 19:00] estebanr863 commented on #53
Hi @mva94 and @IGCIT, we cannot reproduce this issue on the latest drivers and @kurikomoe is not responding. Can any of you help test this?

[2021-12-22 19:04] estebanr863 commented on #64
Hi all,

Yes, we can confirm the issue is no longer present with driver 30.0.101.1191

@IGCIT abd @mva94, can we close this one?

[2021-12-22 19:19] estebanr863 commented on #33
Hi @IBJamon,

The fix for this issue was included in driver version 30.0.100.9955. Can you please test this with the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html)?

[2021-12-22 19:34] estebanr863 commented on #107
Hi @kyh96403,

Can you please explain why you need to disable the fullscreen optimization?

[2021-12-22 19:42] Saracchini commented on #107
Certain games show very blurry images in fullscreen in Portrait displays in Landscape mode (i.e. GPD Win3, OneXPlayer). The only way to play the game in full screen without blur is either disabling full-screen optmizations or running then in Windowed Borderless mode. Unfortunately for some games this means much lower performance.

Some of games that this issue occur (severe visual glitches or blac

[2021-12-22 19:42] estebanr863 commented on #107
Hi @kyh96403,

When changing resolutions, does the screen becomes black and stays that way or does the image comes back after a few seconds?

[2021-12-22 19:50] Saracchini commented on #107
Hi @estebanr863 , I'm not @kyh96403, would be useful to him provide his list of affected games too.
In my case, those games I mentioned allow setting screen to full screen in game (sometimes without any detrimental effects), however when settings are saved, and the game is re-opened, the screen will be totally black, and stays like that. You can alt+tab without issues , and if the game supports,

[2021-12-22 21:33] estebanr863 commented on #24
Hi @Gx1-Al, we were not able to reproduce this issue with the lastest drivers. Can you please perform a [clean install](https://www.intel.com/content/www/us/en/support/articles/000057389/graphics.html) of the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html) and try again?

[2021-12-23 23:31] craiggx commented on #54
Hey Kuikomoroe,

We're looking into this issue and we're wondering what game version you were running when you encountered the crash. The Microsoft Store version would also be helpful. Thanks!

[2021-12-24 11:02] kurikomoe commented on #53
Sorry for the late response. I was busy with the end-term exams
The steam store page of this game is:
https://store.steampowered.com/app/527270/Atelier_Sophie_The_Alchemist_of_the_Mysterious_Book/

The version is the latest version from steam (2021/12/24), I believe it's 1.0.0.21

The glitch occurs only in cutscenes with player's eyes

This is the latest screenshot on my onexplayer(1165g7)

![2021

[2021-12-24 11:05] kurikomoe commented on #54
sure, give me some time to re-download the game from Microsoft

[2021-12-24 11:20] #69 closed

[2021-12-24 13:12] kurikomoe commented on #54
It seems that the latest resident evil 7 from the Microsoft store is running perfectly!

I think it's ok to close this issue.

[2021-12-24 13:48] #54 closed

[2021-12-26 21:42] IBJamon commented on #33
I believe it's fixed now.  Thanks!

[2021-12-26 21:42] #33 closed

[2021-12-27 00:18] kyh96403 commented on #107
@IGCIT
Tekken 7, Borderland 1/2/3, BioShock 1/2/INF, Dead Space 1/2/3...
Infact all D3D9 or D3D11 game has this problem..
But vulkan game don't have problem.

@estebanr863
In my case...
Cannot back screen...
So I need sleep mode or hibernation for restore screen.
But some game has no solution, so that is needed manual edit config file for borderless.

[2021-12-27 20:45] hoangnguyen1979 commented on #81
Hi @pacoa-kdbg
FYI, Just Cause 4 is no longer available for purchase on Steam.
The available game is Just Cause 4 Reloaded https://store.steampowered.com/app/517630/Just_Cause_4_Reloaded/ so replication will be done w/ that version of the game.

In the meantime, can you check to see if the issue is reproduced on your end with the latest driver?
https://www.intel.com/content/www/us/en/download/1934

[2021-12-28 18:26] craiggx commented on #41
@hididi31 Hi there. We're Looking into this issue on TGL and found the issue fixed on the latest Intel DCH driver found here: https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html

Could you check on your system and let us know if it still happens with the latest driver?

[2021-12-29 09:18] IGCIT commented on #41
hi @craiggx, he no longer have an intel device.

@pacoa-kdbg can you please re-test the game with latest driver so we can close this? thank you :)

[2021-12-29 12:45] mva94 commented on #41
Hi @craiggx
I own the game so I will be able to check from the 15th of January when I get my new intel device

[2021-12-29 19:55] estebanr863 commented on #46
Hi @KingYozora, we are trying to reproduce this issue, but so far, we haven't been successful. Does the issue happen for you under certain settings or at some specific point of the game?

[2021-12-29 22:39] hoangnguyen1979 commented on #84
Thank you, @remag1247.
One more favor from you, please:
Can you provide a System Report of the system where you encounter the issue?
Here is the link to the Intel SSU tool: https://www.intel.com/content/www/us/en/download/18377/25293/intel-system-support-utility-for-windows.html
Run SSU.exe. Select "Everything". Then click Scan. Save the data to the text file and attach it to the sighting or share

[2021-12-31 15:32] estebanr863 commented on #103
Hi @IGCIT, can you please help try reproduce this issue?

[2021-12-31 16:21] estebanr863 commented on #17
Hi @thealgorithmc64, can you please try this with the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html)?

[2021-12-31 16:25] estebanr863 commented on #86
Hi @Combine1196, can you please provide captures of the corruption you are seeing?

[2021-12-31 16:59] estebanr863 commented on #58
Hi @Rebusmind and @Valkirie, we can't reproduce this issue on the latest drivers 30.0.101.1191. Can we close this issue?

[2021-12-31 17:07] estebanr863 commented on #94
Hi @mva94, can you please provide a screen capture of the glitches you are seeing?

[2021-12-31 17:20] IGCIT commented on #103
tested on gpd win 3 and gpd win max with and without an external display for both.
windows 11 and windows 10 21H2

i started a meeting on both
started and stopped multiple screen share with different options on both devices, with and without recording
no crashes, but i ll wait for @Hyatice test

[2021-12-31 17:21] #58 closed

[2021-12-31 17:28] estebanr863 commented on #38
Hi @mva and @Saracchini, we tested this for over 4 hours and got no crashes.

[2021-12-31 17:35] #38 closed

[2021-12-31 18:18] grassehh commented on #11
Same issue here. Running Windows 10 with i7 9700k.
Crashes with exception code 0xc0000005

[2021-12-31 18:51] pacoa-kdbg commented on #81
Hi
@hoangnguyen1979 i dont own Reloaded version, but Just Cause 4 with latest driver still has this graphical issue

[2021-12-31 18:56] pacoa-kdbg commented on #31
This issue is not present on latest driver @estebanr863 performance has improved a lot

[2021-12-31 20:04] Combine1196 commented on #86
Sent from Yahoo Mail on Android

  On Fri, Dec 31, 2021 at 11:25, ***@***.***> wrote:

Hi @Combine1196, can you please provide captures of the corruption you are seeing?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2021-12-31 23:56] KaeAlSa commented on #17
I'm not there original poster but I've played through all of horizon zero dawn and the expansion on my 1195 with no problems.

[2022-01-01 02:07] poulan9 commented on #31
The performance is slightly better but still unplayable and rarely more than 19 FPS. I also experienced a crash on the first outing:

    On Friday, 31 December 2021, 18:56:41 GMT, pacoa ***@***.***> wrote:

This issue is not present on latest driver @estebanr863 performance has improved a lot

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with G

[2022-01-01 07:45] pacoa-kdbg commented on #31
@poulan9
Sorry, my bad
It is still really bad (just tested again to confirm)

It used to be <10 fps for me,
Now is between 18 and 24, still not enjoyable

Win11
Latest driver
Steam version

[2022-01-02 07:26] bhatiak2050 commented on #40
Hello, I would like to add to this discussion as I am facing this issue today. I also downloaded the game from Game pass, i have an i3 1115g4 with latest iris xe graphics drivers (30.0.101.1191) and the error i get when launching the game is:

`'tryCreatingPipelineStateFromCache(pipelineStateDesc, nullCachedPso, pInOutPipelineState)' failed with 'HR = 0x80070057, Reason = E_INVALIDARG:  This usual

[2022-01-03 19:53] estebanr863 commented on #53
Hi @kurikomoe,

Unfortunately, if the game version presenting the issue is no longer available, we cannot work on find the root cause of the issue. It is possible that the Deluxe version includes a fix from the developer for this issue, which matches are initial suspicions from looking at your screenshots of some textures not loading, which is usually an issue caused by the game, not the GPU. Howe

[2022-01-04 03:24] kurikomoe commented on #53
It's ok,
The dx version has replaced the original one, I think it's ok to close this issue.

[2022-01-04 03:24] #53 closed

[2022-01-04 18:46] estebanr863 commented on #59
Hi @KingYozora, we are able to open the game fine with driver version [30.0.101.1191](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html). Can you please try again with this driver version?

[2022-01-04 20:21] Saracchini commented on #38
@estebanr863 .
It is a bit late but I can confirm the issue can be closed. Played for almost 2 hours in Story and Practice mode (the later used to crash) and no issues.

[2022-01-04 22:17] estebanr863 commented on #60
Hi @SephirothXJPN90,

Game connection to a server is not related to the Intel Graphics Driver in any way. This is not an issue we can support or resolve. Please contact the game developer or publisher for support on this issue.

Hi @IGCIT,

Can we close this as it is not related to the graphics driver?

[2022-01-04 22:41] #60 closed

[2022-01-05 16:47] estebanr863 commented on #24
Hi @IGCIT & @Valkirie,

We cannot reproduce this issue on our lab and there is no answer from @Gx1-Al.

From our experience, errors related to igdumdim32.dll can arise for a few different different reasons. For instance, a faulty application, igdumdim32.dll has been deleted or misplaced, corrupted by malicious software present on your PC or a damaged Windows registry. This is usually not related w

[2022-01-05 21:33] IGCIT commented on #24
yeah, we can re-open if someone else have issues and more info.

[2022-01-05 21:33] #24 closed

[2022-01-11 16:46] #85 closed

[2022-01-11 16:54] mva94 opened #109 "Cod: Vanguard latency , texture burst and extrapolation logos"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Call of duty vanguard

### Game Platform [Required]

- [ ] Steam
- [ ] Origin
- [ ]

[2022-01-11 18:16] estebanr863 commented on #46
Hi @IGCIT and @Valkirie,

Any chance one of you can help reproduce this issue? We are not seen it in our lab.

[2022-01-11 18:16] estebanr863 commented on #84
Hi @remag1247,

Were you able to runn the Intel SSU tool?

[2022-01-11 18:23] KingYozora commented on #46
I sent my GPD Win 3 in for repairs a few weeks ago, so I can't test it out now.  Maybe next week.

[2022-01-14 21:28] remag1247 commented on #84
@estebanr863 @hoangnguyen1979

 https://drive.google.com/file/d/1gPmFkb4oDXfG5rj1VHwxDzkAg2-1Kmk1/view?usp=sharing

[2022-01-14 22:19] mva94 opened #110 "God of war texture issues and game hangs, kratos cannot move anymore"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

God of war

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Microsoft

[2022-01-14 22:31] #92 closed

[2022-01-14 22:32] #64 closed

[2022-01-14 22:37] pacoa-kdbg commented on #90
Still a valid issue?

[2022-01-18 18:01] estebanr863 commented on #101
Hi @mva94,

Do you own this game? If you do, can you please try to replicate it?

[2022-01-18 18:08] estebanr863 commented on #81
Hi @pacoa-kdbg ,

This issue was previously reported internally, and we found the root cause of the issue is a bug in the game. We escalated the issue to the developer, but they are unwilling to solve it. Unfortunately, since the developer won’t fix it, there is nothing else we can do on our side to get the issue fixed.

[2022-01-18 18:16] estebanr863 commented on #101
Hi @TakuCED,

Can you please run the [Intel SSU Tool](https://www.intel.com/content/www/us/en/support/articles/000057926/memory-and-storage.html) on your system and send us the result?

[2022-01-18 18:46] estebanr863 commented on #109
Hi @mva94,

Was this issue seen on interlaced or progresive resolution? (800i vs 800p)

[2022-01-19 18:23] estebanr863 commented on #101
Hi @TakuCED,

Also, it there an estimated amount of time for the issue to happen? I'm trying to reproduce the issue on a TigerLake, but didn't see any issues after 30 minutes of play.

[2022-01-19 18:24] estebanr863 commented on #109
Hi @mva94,

Can you please explain what you mean by "extrapolation logos"?

[2022-01-19 18:32] mva94 commented on #109
@estebanr863 I meant this
![c3uc1ligtu281](https://user-images.githubusercontent.com/78859716/150192514-368237c4-8caf-4381-b0dc-7e436d5f27f0.png)

Keeps on popping up in game ( multi)

[2022-01-19 20:47] #109 closed

[2022-01-20 08:22] TakuCED commented on #101
[result-ssu.txt](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/files/7903421/result-ssu.txt)

Maybe the issue is only for 10th gen, I have still issue and I finished it on my desktop with GTX.

[2022-01-21 18:06] estebanr863 commented on #46
HI @KingYozora,

Did you get your device back?

[2022-01-21 18:07] estebanr863 commented on #41
Hello all,

We are not seen the issue on the latest driver version. Can anyone else help us verify?

[2022-01-21 18:11] estebanr863 commented on #19
Hi @pacoa-kdbg,

Did you had the chance to capture the app crash dump? We are not seen the crash on our lab.

[2022-01-21 18:31] estebanr863 commented on #101
Hi @TakuCED,

After analyzing the coredump file you attached, I see that the error is caused by a Memory Access Violation (code 0xc0000005) from the app FFX.exe. This points to an issue on the app side and is sometimes caused by corrupted files.

Have you tried completely uninstalling the game and installing it again?

[2022-01-24 00:29] KingYozora commented on #46
Yes.  Slow down seems fixed when playing as Sora (brown hair guy), but when playing as Roxas (blond hair guy) in the beginning, the fps drops when attacking.  This only happens when attacking and when Roxas is doing the attack pose animation.

Its no big deal since you only play as Roxas for the first hour of the game.

[2022-01-24 10:32] #81 closed

[2022-01-26 20:41] estebanr863 commented on #94
Hi @mva94 and @beenees,

Can you please run [Intel SSU tool](https://www.intel.com/content/www/us/en/support/articles/000057926/memory-and-storage.html) and send un the result?

Also, can you please let us know which version of MSI Afterburner / Riva Tuner are you using?

[2022-02-01 14:37] IGCIT commented on #110
closing this as:

- texture issue is a game bug and a fix is in development (not a driver bug)
- hangs and crashes are caused by memory leaks (and affects all vendors) and/or game bugs

i had hangs too because the game fulled my 16gb of ram (gpd win 3)

if/when the game will be in a good shape we can see if drivers issues are present

[2022-02-01 14:37] #110 closed

[2022-02-02 21:01] estebanr863 commented on #59
Hi @KingYozora, did you had the chance to test with driver version [30.0.101.1191](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html)?

[2022-02-02 21:02] estebanr863 commented on #103
Hi @Hyatice, did you had the chance to test this?

[2022-02-02 21:04] Hyatice commented on #103
I believe that this issue is resolved, I have not had any unexplained crashes during zoom since upgrading to 1191; which is also what fixed the dual monitor issue I had before as well. Whatever secret sauce went into the "more desktop stability" part of that upgrade apparently did its job!

[2022-02-02 21:06] #103 closed

[2022-02-02 21:10] #13 closed

[2022-02-02 21:29] estebanr863 commented on #84
Hi @remag1247,

After several attemps using different systems, we have not been able to reproduce this issue, even when using your save files. At this point our only advice would be for you to contact he manufacturer of your device for support, since it seems that the issue is specific to your device.

[2022-02-03 20:35] estebanr863 commented on #41
Hi @IGCIT and @mva94,

We have confirmed in our lab this issue is no longer happening on driver version 30.0.101.1191. Can this issue be closed?

[2022-02-03 21:44] mva94 commented on #41
Hey @estebanr863 I just finished installing the game

Will check

[2022-02-04 08:20] TimoMueller commented on #61
Just a quick reminder that this issue is still happening on 30.0.101.1191 and 30.0.101.1192 (pushed through Windows Update).
ELEX 2 will release on March 1, 2022 and I wonder if I can do another playthrough of ELEX on the Intel Xe beforehand. ;)

[2022-02-04 15:09] KingYozora commented on #59
Yes they boot with the latest drivers (1191)

[2022-02-04 15:54] #59 closed

[2022-02-04 18:27] estebanr863 commented on #61
Hi @TimoMueller, our driver development team has this in their queue. I'll let you know once a posible fix is developed and inclued in a driver update.

[2022-02-06 18:59] #41 closed

[2022-02-08 15:08] Saracchini commented on #108
Issue persists in 1340 driver. It does not happen in 1121.

[2022-02-08 15:19] Saracchini commented on #74
Issue persists in 1340 driver.

[2022-02-08 15:27] Saracchini commented on #78
Issues got actually worse with 1340 driver.
The ground now shows white pixelated texture, and graphic effects like auras lack transparency.

[2022-02-08 18:00] estebanr863 commented on #94
Hi @mva94 and @beenees,

A possible fix for this issue was included in the recently released driver version 30.0.101.1340. Can you please preform a [clean install](https://www.intel.com/content/www/us/en/support/articles/000057389/graphics.html) of the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html) and test if the issue is fixed?

[2022-02-08 18:01] estebanr863 commented on #11
Hi @HenryQuan and @grassehh,

A possible fix for this issue was included in the recently released driver version 30.0.101.1340. Can you please preform a [clean install](https://www.intel.com/content/www/us/en/support/articles/000057389/graphics.html) of the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html) and test if the issue is fixe

[2022-02-08 18:02] estebanr863 commented on #98
Hi @Saracchini,

A possible fix for this issue was included in the recently released driver version 30.0.101.1340. Can you please preform a [clean install](https://www.intel.com/content/www/us/en/support/articles/000057389/graphics.html) of the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html) and test if the issue is fixed?

[2022-02-08 18:35] estebanr863 commented on #77
Hi @Valkirie, had the chance to try this with the latest drivers?

[2022-02-08 18:38] estebanr863 commented on #46
Hi @KingYozora,

We are not seen any issues with the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html). Can you please perform a [clean instal](https://www.intel.com/content/www/us/en/support/articles/000057389/graphics.html)l with this driver version and try again?

[2022-02-08 18:41] estebanr863 commented on #19
Hi @thealgorithmc64 and @pacoa-kdbg,

We are not seen any issues with the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html). Can you please perform a [clean instal](https://www.intel.com/content/www/us/en/support/articles/000057389/graphics.html)l with this driver version and try again?

[2022-02-08 19:03] estebanr863 commented on #63
Hi @Saracchini,

After debugging this issue, we discarded the root cause to be Intel's graphics driver. We suspect the issue is caused because the "Full Screen Optimizations" are being disabled. We understand that this was done as a workaround to another issue specific to your device, but we see no issues on other systems using the same CPU and have the "Full Screen Optimizations" enabled. Our onl

[2022-02-08 20:16] IGCIT commented on #84
closing this,
@remag1247 you can still reply if you find more details or a way to reproduce on other systems

[2022-02-08 20:16] #84 closed

[2022-02-08 20:16] IGCIT commented on #40
@bhatiak2050 can you try latest driver 1340?

[2022-02-08 20:42] Saracchini commented on #98
I tested with the same vehicles on the picture above and three more problematic ones (one Porsche showed black headlights because  texture on top of it that was being blackened). No black borders in any of these ! The cars looks all correctly rendered.
The game, however is not anymore in a vert playable state due UI slowing down severely ( reported in this issue [here](https://github.com/IGCIT/Int

[2022-02-08 21:18] Saracchini commented on #108
Gave a more careful testing. Slow-down seems to be caused by a significantly increased CPU usage with the newer drivers. With driver 1121 I was able to play the game with 15W TDP easily and reach constant 60fps with the Win3 set with power-saving settings (Windows Balanced mode, slider set to power saver). With newer drivers I have to use 25W in Edinburgh zone to reach 45-60fps, and CPU usage rais

[2022-02-08 23:36] KingYozora commented on #46
Slow down seems fixed on that driver.

[2022-02-09 00:13] KingYozora commented on #11
Played for about 40 minutes without crashing on the latest driver.

[2022-02-11 12:04] Saracchini commented on #108
Update. How to trigger this issue consistently:
go to a "heavy region"(Edinburgh for instance). Open the pause menu and go to "Cars" tab and select "Horizon Promo & Car Collection". Fast scroll the car selection screen holding LB or RB (or the side buttons with the brand names) until you see the the fps counter lower. Close all menus and open it again. Repeat. Sometimes one cycle will not show the

[2022-02-11 21:48] estebanr863 commented on #11
Great! Thanks for testing!

@IGCIT @mva can this be closed?

[2022-02-11 21:50] estebanr863 commented on #46
Good news! Thanks for testing!

@IGCIT @mva can this be closed?

[2022-02-12 10:29] #11 closed

[2022-02-12 10:29] #46 closed

[2022-02-12 10:29] #98 closed

[2022-02-12 12:51] HenryQuan commented on #11
Sorry for late reply. I have also played for around 40 mins with a long cutscene and it seems fine so far.

[2022-02-18 17:05] ciphray opened #111 "edid override does not work when an edid has been generated instead of being embedded"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Application is not cracked, modded and use the latest patch

### Application [Required]

Windows

### Processor / Processor Number [Required]

i7-1185G7

### GPU Driver Ver

[2022-02-20 15:54] TakuCED commented on #101
Sorry for late, I have try uninstalling the gane and reinstalling, work fine I don't get issue two sessions 40 minutes.

I'm on driver 1340.

[2022-02-20 16:45] IGCIT commented on #101
can this be closed?

[2022-02-20 16:45] #101 closed

[2022-02-22 15:45] estebanr863 commented on #19
Hi @IGCIT and @mva94,

We are not seen this issue in our lab with the lastest drivers. Can any of you help test it?

[2022-02-22 15:45] estebanr863 commented on #77
Hi @IGCIT and @mva94,

We are not seen this issue in our lab with the lastest drivers. Can any of you help test it?

[2022-02-22 15:50] estebanr863 commented on #111
Hi @ciphray,

The Intel Graphics Driver is always expecting the EDID info from the panel. If on your device you suspect that the panel doesn't have an EDID programed, our advice is to contact the support team of your device's manufacturer so they can address this issue.

[2022-02-22 16:22] ciphray commented on #111
Windows does show an edid that matches out with the capabilities of the display in the registry

however the driver does not apply edid overrides when a mipi panel is in use, could this be fixed?

command center recognizes the edid information in the override in the information screen

but will not allow me to select the resolution it shows as being supported

[2022-02-22 18:00] estebanr863 commented on #40
Hi @bhatiak2050,

Were you able to test if you issue is resolved on driver 30.0.101.1340?

[2022-02-22 18:06] estebanr863 commented on #111
@ciphray the problem here is that there is no way we can ensure that the app you are using to override the EDID fully complies with the EDID standard. I understand that you are trying to find a workaround to the panel not having an embedded EDID. However, EDID override is not something we can support since the correct way to address this issue for the manufacturer of the panel to correctly add the

[2022-02-22 21:05] ciphray commented on #111
https://docs.microsoft.com/en-us/windows-hardware/drivers/display/overriding-monitor-edids

https://community.intel.com/t5/Graphics/Feature-Request-implement-EDID-override/m-p/253019

I'm not really looking for more than it to function with mipi panels with your driver as your driver does with edp, hdmi and other display types

as i mentioned in my original post i can use this same edid under linu

[2022-02-23 04:27] bhatiak2050 commented on #40
Hi,
I have tested the game on driver 30.0.101.1340 and it is now working as intended.

[2022-02-23 09:08] #40 closed

[2022-02-23 09:27] IGCIT commented on #77
Hi, unfortunately i don't own the game

[2022-02-23 09:27] IGCIT commented on #19
Hi, unfortunately i don't own the game

[2022-02-23 10:32] nielo360 opened #112 "Assassins Creed Valhalla Starts stuttering after 20 -25mins of gameplay. No heating issue runs smooth then stutter"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Assassins Creed Valhalla

### Game Platform [Required]

- [ ] Steam
- [ ] Origin
-

[2022-02-26 23:59] mongoose999 opened #113 "Call of Duty Vangaurd. Fps drops in menu and when taking damage."
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Call of Duty Vangaurd

### Game Platform [Required]

- [ ] Steam
- [ ] Origin
- [ ]

[2022-02-27 09:29] kristheb commented on #78
can confirm. no transparency anymore after changing to version 30.0.101.1340

[2022-02-28 09:21] nielo360 opened #114 "Rage 2 Red flashing screen broken in drivers .1190 and .1340"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

RAGE 2

### Game Platform [Required]

- [ ] Steam
- [ ] Origin
- [ ] Microsoft Stor

[2022-02-28 10:11] Saracchini commented on #114
Running Steam version at 1121 with game default settings, and in this driver version the game does seems to run without visual glitches or performance issues. Seems to be a regression issue.

[2022-02-28 11:56] nielo360 commented on #114
I tried several drivers from the 37.  series none worked all showed red screen glicthes on rage 2 only the 27. series of drivers worked perfectly.

[2022-02-28 20:34] estebanr863 commented on #111
Hi @ciphray

As I mentioned before, I understand that you are trying to find a workaround to your issue, but I must again recommend that you contact the support team of your device manufacturer, since only they can fix this issue permanently.

Now, regarding the workaround, I was able to override the EDID using this [app](https://www.monitortests.com/forum/Thread-Custom-Resolution-Utility-CRU) I f

[2022-02-28 20:39] estebanr863 commented on #77
Since @Valkirie is not responding and we are not seen the issue on the latest drivers, can this be closed?

[2022-02-28 20:39] estebanr863 commented on #19
Since @thealgorithmc64  is not responding and we are not seen the issue on the latest drivers, can this be closed?

[2022-02-28 20:43] #77 closed

[2022-02-28 20:43] #19 closed

[2022-02-28 20:50] ciphray commented on #111
I've tried CRU, i've in fact used it with this same panel in the past on a different motherboard and that works fine as it has an edp>mipi dsi converter,

I've also tried the same edid extracted from this very device on a different bios version with an alternate refresh rate from
HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Enum\DISPLAY\

Command center sees the frequency, but will not allow it to

[2022-02-28 21:04] ciphray commented on #111
![Screenshot (21)](https://user-images.githubusercontent.com/19839730/156058285-92200ed4-d818-4974-81f7-3a9dd5fb6830.png)
![Screenshot (22)](https://user-images.githubusercontent.com/19839730/156058289-df00905c-1bb7-4672-8867-77ce0fcd40cc.png)
here it is with the original edid used as an override, the original bios had the display set to 61hz
attempting to use that edid displays it in the informat

[2022-02-28 23:20] estebanr863 commented on #111
@ciphray,

When you apply the EDID override, can you change the Refres Rate in the Windowds Advanced Display Setting? (even when not available in the Intel Graphics Command Center)
![image](https://user-images.githubusercontent.com/87549650/156075024-05350113-1049-4ec1-94c2-022c92f7646d.png)

[2022-02-28 23:28] ciphray commented on #111
No, it's not available there, the mode is reported as 60.000HZ only
and list all modes does not show it either
![listallmodes](https://user-images.githubusercontent.com/19839730/156076066-be7bd66d-d66b-4dfd-8371-8ad167c05caf.png)

[2022-02-28 23:41] estebanr863 commented on #111
@ciphray,

Since EDID override works as intended on Intel manufactured devices (the ones I tested in our lab) but not on yours, indicates that only your device manufacturer can provide you a fix.

The fact even at the OS level the EDID override is not working, seems to indicate that some of the customizations the manufacturer of your device’s graphics may be blocking this feature.

[2022-02-28 23:43] nielo360 commented on #114
The only driver that works is 27.20.100.8729  this driver is not available on intels download page its NUC driver that comes from windows update all others fail. This the driver that windows 11 keeps auto downgrading to despite updating drivers. Please look into this issue and resolve.

[2022-02-28 23:54] ciphray commented on #111
@estebanr863

Appreciate your time
If this can't be changed with an EDID override, is there any other means I might be able to add other display modes/alter the existing one?
Such as a DTD or VBT override?
I see the registry entries for DTD but they do nothing as far as I can tell
and in some of intel's documentation I see mentions of a VBT override but nothing further on the subject in public doc

[2022-03-01 20:16] estebanr863 commented on #111
@ciphray

We do have an internal tool that can be used to override the VBT. However, this tool and its documentation are only available under NDA, since it is mostly intended for OEMs and embedded system designers.

[2022-03-02 16:01] TimoMueller opened #115 "ELEX 2 massive graphical issues"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

ELEX 2

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Microsoft Stor

[2022-03-03 13:03] potatoding commented on #61
same graphic issue here. windows 11, driver version is 1340. Any hope for fixing this in next update?

[2022-03-03 13:42] TimoMueller commented on #61
It could even help #115 as there is the same graphical issues visible underneath another layer of issues.

[2022-03-04 06:40] nielo360 commented on #114
Is there anyone looking into this issue?

[2022-03-04 18:16] estebanr863 commented on #96
Hi @beenees

Can you please try with the [lastest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html). We are no seen the issue on driver version 30.0.101.1340.

[2022-03-06 04:04] nielo360 commented on #114
27.20.100.8729 this is also the only driver that runs ELEX 2 . same bug as RAGE 2 is fixed with this old driver please look at this thread

[2022-03-06 12:03] TimoMueller commented on #115
There is an interesting comment in #114 .
It seems that an older 27.* driver works with ELEX 2.

[2022-03-06 15:04] TimoMueller opened #116 "Risen 2 flickering vegetation"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Risen 2

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Microsoft Sto

[2022-03-06 15:53] nielo360 commented on #115
Its some sort of regression in vulkan that is causing this glitch/bug in ELEX 2 & Rage 2 that isnt in the present  27.20.100.8729 for the 1195g7 cpu.

[2022-03-08 15:32] estebanr863 commented on #111
Hi @ciphray,

Can this issue be closed?

[2022-03-09 09:05] Saracchini commented on #108
Issue persists with 1404 driver.

[2022-03-09 09:05] Saracchini commented on #78
Issue persists with 1404 driver.

[2022-03-09 09:05] Saracchini commented on #75
Issue persists with 1404 driver.

[2022-03-09 17:12] estebanr863 commented on #96
Hi @IGCIT @Valkirie @mva94

Any of you own this game and can help test it with the latest drivers?

[2022-03-09 17:14] estebanr863 commented on #89
Hi @Baboonfighter

A possible fix for this issue was included in the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html) version 30.0.101.1404. Can you test if the issue is fixed for you?

[2022-03-09 17:14] mva94 commented on #96
@estebanr863 hey
Yes I confirmed a while back it was fixed ,
Sorry I forgot to close the issue

[2022-03-09 17:14] #96 closed

[2022-03-09 18:23] estebanr863 commented on #105
Hi @kalenjohnson

Can you provide a save game that get us to the fishing part?

[2022-03-09 18:45] estebanr863 commented on #107
Hi @kyh96403 @Saracchini and @IGCIT

We were able to reproduce this issue and it has now been escalated to our driver development team. I just want to set the right expectation with you, as with the current workload, it may take from 3 to 6 months for a possible fix to be integrated into a release driver.

[2022-03-09 20:13] estebanr863 commented on #86
Hi @Combine1196,

Regarding the crashing issue, a posible fix for this has been included in the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html).

On the graphical gliches issue, we were able to reproduce this issue and found that its root cause to be on the game side. We have already escalated this issue to the game developer, but no

[2022-03-09 20:14] estebanr863 commented on #106
Hi @Risingdawn1

We were able to reproduce this issue and it has now been escalated to our driver development team. I just want to set the right expectation with you, as with the current workload, it may take from 3 to 6 months for a possible fix to be integrated into a release driver.

[2022-03-09 20:15] estebanr863 commented on #108
HI @Saracchini

We were able to reproduce this issue and it has now been escalated to our driver development team. I just want to set the right expectation with you, as with the current workload, it may take from 3 to 6 months for a possible fix to be integrated into a release driver.

[2022-03-09 20:17] estebanr863 commented on #99
@mva94, @KaeAlSa and @EvilMath

We were able to reproduce this issue and found that its root cause to be on the game side. We have already escalated this issue to the game developer, but now is up to them to fix the issue.

[2022-03-09 20:22] estebanr863 commented on #31
Hi @poulan9 and @pacoa-kdbg

Our driver development team found this issue’s root cause to be on the game side. The issues seem to be caused by the game being heavily CPU-bound on Intel Tiger Lake in contrary to AMD. This results on the game not fully utilizing the iGPU when running in Intel. We have already escalated this issue to the game developer, but they are unwilling to work on a fix for thi

[2022-03-09 20:24] estebanr863 commented on #90
Hi @DjXtom, @KaeAlSa and @pacoa-kdbg

We were able to reproduce this issue and found that its root cause to be on the game side. We have already escalated this issue to the game developer, but now is up to them to fix the issue.

[2022-03-09 20:29] estebanr863 commented on #67
Hi @Rebusmind

We were able to reproduce this issue and found that its root cause to be on the game side. We have already escalated this issue to the game developer, but now is up to them to fix the issue.

The root cause was found to be an older version of OpenSSL that usually triggers on games running on certain versions of Unreal Engine. You can find more details and a possible workaround in th

[2022-03-09 20:30] estebanr863 commented on #91
Hi @IGCIT

We were able to reproduce this issue and it has now been escalated to our driver development team. I just want to set the right expectation with you, as with the current workload, it may take from 3 to 6 months for a possible fix to be integrated into a release driver.

[2022-03-09 20:43] estebanr863 commented on #111
Currently, the first priority is the EDID and then it is followed by the DTDs. We are aware that this is not standard, as per CTA-861, DTDs should take precedence (specifically when using the Video Format Preference Data Block or VFPDB). This is a known bug that may get fixed in future driver updates.

Regarding the specific registry key you pointed out, unfortunately I cannot confirm if is still

[2022-03-09 20:59] #31 closed

[2022-03-10 00:03] Risingdawn1 commented on #115
The black edge artifacting issue was still present in 27.20.100.8729, only the newer lighting issue was absent with older drivers.

The black artifacting issue has been present on all Intel drivers, even for uhd chipsets going back to Elex 1 launch.

[2022-03-11 14:30] potatoding commented on #61
@estebanr863 unfortunately, the issue remains.

[2022-03-11 14:31] potatoding commented on #61
btw, operating system is win11, cpu is 1195g7, 30.0.101.1404 driver.

[2022-03-12 07:54] Nino-Bock commented on #61
Just a quick note it's the same on Win 10.
win10, cpu is 1195g7, 30.0.101.1404 driver

Getting that fixed would be brilliant

[2022-03-13 21:36] #111 closed

[2022-03-14 04:49] kalenjohnson commented on #105
Save games go in %USERPROFILE% \Saved Games\FALCOM\ed8_psv3

There are 3 saves, the 3rd should be right in front of a fishing spot

[ed8_psv3.zip](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/files/8241773/ed8_psv3.zip)

[2022-03-14 09:28] Baboonfighter commented on #89
Hi,
This appears to be fixed now. Thank you so much for this.
    On Wednesday, 9 March 2022, 17:14:27 GMT, Esteban ***@***.***> wrote:

Hi @Baboonfighter

A possible fix for this issue was included in the latest drivers version 30.0.101.1404. Can you test if the issue is fixed for you?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub M

[2022-03-14 09:45] #89 closed

[2022-03-15 18:56] estebanr863 commented on #88
Hi @pacoa-kdbg,

Can you please install the [latest driver](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html) version and try again? We are not seen the issue on the latest drivers.

[2022-03-19 15:54] nielo360 commented on #114
any progress

[2022-03-24 19:08] TimoMueller commented on #61
Issue remains on *.1404 and *.1631
I noticed that the issue got dropped from the known issues in the release notes.
Is that the Intel way of handling issues? Doing nothing and never mentioning them again? :D

That’s not confidence-inspiring when it comes to dedicated Arc graphics cards.

[2022-03-24 19:10] TimoMueller commented on #115
Issue is still present on *.1404 and *.1631

[2022-03-24 19:12] TimoMueller commented on #116
Issue is still present on *.1404 and *.1631

[2022-03-24 20:04] estebanr863 commented on #61
Hi @TimoMueller

The release notes are usually used to address known issues on the most recent and most played app and games. We internally track a lot more of known issues than the ones described in the release notes, and it would be very hard to include every single known issue with every single app or game in existence in a single document.

I am personally tracking this specific issue on ELEX.

[2022-03-28 17:36] estebanr863 commented on #79
Hi @bizude

Can you please perform this test:

1.	Find and open the “DaOriginsConfig.exe” in your game install folder
2.	Disable aspect ratio correction
3.	Test is no you can see the dialogue choices in-game

[2022-03-28 17:52] estebanr863 commented on #99
Hi @mva94, @KaeAlSa and @EvilMath

Can you update your graphics driver to the [latest version](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html) 30.0.101.1631 and test if the issue is still present?

[2022-03-28 18:00] jfavelar commented on #90
Seem to be fixed, but there are different graphical issues now

https://www.youtube.com/watch?v=FkTPeHTY9rE&t=615s

(not my video )

[2022-03-28 18:14] jfavelar commented on #99
There are still some issues (this video says it is using march 23 driver -> 1631)
I will test later this weekend to make sure it is accurate

https://www.youtube.com/watch?v=-FMO9-Lz2dU

[2022-03-28 18:17] pacoa-kdbg commented on #99
Looks like there are still some issues,

https://www.youtube.com/watch?v=-FMO9-Lz2dU

[2022-03-28 18:18] pacoa-kdbg commented on #90
Looks like crash is not present anymore, but there are some graphical issues

https://www.youtube.com/watch?v=FkTPeHTY9rE&t=615s

[2022-03-28 19:25] estebanr863 commented on #99
Thanks for helping test it! We'll keep looking into the issue.

[2022-03-30 23:48] estebanr863 commented on #88
Hi @pacoa-kdbg,

Got the chance to test with the latest drivers?

[2022-03-30 23:48] estebanr863 commented on #102
Hi @mva94,

Got the chance to test with the latest drivers?

[2022-03-31 16:34] nielo360 commented on #114
Bump for any update since even new drivers do nothing

[2022-04-01 00:15] TimoMueller commented on #61
Hey @estebanr863

Thank you for giving this information. I know that there's a huge department for marketing and stuff ... also how the roadmap will look like.
But the key for building an awesome and passionate community is communication.
Intel Xe Gamers are the early adopters and if they realise that Intel really cares about their interests it could lead to them recommending Intel GPUs to their f

[2022-04-03 11:19] Saracchini opened #117 "Weird West - Intro Video black screen hard-locking the device in DX12 mode"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

Weird West

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Microsoft

[2022-04-04 01:03] bizude commented on #79
@estebanr863 Thanks for looking at this issue. After receiving this response, I loaded Dragon Age : Origins using the UHD 770 iGPU and it's working great now. I didn't impliment the step you advised above, so I would assume a driver update in the last 8 months has fixed the issue.

[2022-04-04 01:03] #79 closed

[2022-04-05 16:00] estebanr863 commented on #88
Hi @mva94 @IGCIT @Valkirie, we are not seen this issue on the latest drivers and got no answer from @pacoa-kdbg. Can this be closed?

[2022-04-05 16:05] estebanr863 commented on #102
Hi @mva94 can this be closed?

[2022-04-05 16:09] estebanr863 commented on #86
Hi @Combine1196, can you please update to the [latest drivers](https://www.intel.com/content/www/us/en/download/19344/intel-graphics-windows-dch-drivers.html) AND update your game to the latest version, and test if the issue is still present?

[2022-04-05 18:32] pacoa-kdbg commented on #88
@estebanr863
I can confirm that this issue is not present on latest driver

[2022-04-05 19:31] #88 closed

[2022-04-06 15:48] nielo360 commented on #114
still broken with latest driver no fix

[2022-04-07 23:56] shinra358 opened #118 "Chrono Cross [Radical Dreamers Edition][Steam] Memory Leak Crash"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

CHRONOCROSS.exe; RADICALDREAMERS.exe

### Game Platform [Required]

- [X] Steam
- [

[2022-04-08 00:05] shinra358 opened #119 "Final Fantasy XII [Zodiac Age][Steam] White Screen; Crash"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

FFXII_TZA.exe

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Microso

[2022-04-08 10:09] Saracchini commented on #118
Can confirm it crashes in older drivers as well, but later. Usually mid battle, sometimes with "failed to load font" error.

[2022-04-09 21:54] shinra358 opened #120 "Deus Ex - Mankind Divided [STEAM] Startup Crash"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

DXMD.exe

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Microsoft St

[2022-04-09 21:58] shinra358 opened #121 "MDK 2 HD [STEAM] Missing Graphics"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

mdk2hd.exe

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Microsoft

[2022-04-09 22:03] shinra358 opened #122 "Mirror's Edge (ORIGINAL) [STEAM] Game Start Silent Crash"
### Checklist [README]

- [X] Device is not undervolted nor overclocked
- [X] Device is using the [latest drivers](https://github.com/IGCIT/Intel-GPU-Community-Issue-Tracker-IGCIT/wiki/Intel-driver-updates-and-changelogs)
- [X] Game is not cracked, modded and use the latest patch

### Game / Application [Required]

MirrorsEdge.exe

### Game Platform [Required]

- [X] Steam
- [ ] Origin
- [ ] Micro